#side-panel2(style="display:none;")
    #sidepanel-title2.sidepanel-display
        p#idcaptura2(data-idrequest=" ")
        p#close-sidepanel2 X
    #sidepanel-subtitle2.sidepanel-display
        p#analistaasignado2 
        p#fechadecaptura2

    .sidepanel-container-tablas
        p.titulotabla Datos personales
        table.table.table-condensed.table-hover.table-bordered.small-row
            tbody
                tr.copytoclipboard(data-clipboard-target="#show_apellidos2")
                    td Apellidos
                    td#show_apellidos2 
                tr.copytoclipboard(data-clipboard-target="#show_nombres2")
                    td Nombres
                    td#show_nombres2 
                tr.copytoclipboard(data-clipboard-target="#show_rfc2")
                    td RFC
                    td#show_rfc2 
                tr.copytoclipboard(data-clipboard-target="#show_sexo2")
                    td Sexo
                    td#show_sexo2 
                tr.copytoclipboard(data-clipboard-target="#show_fechadenacimiento2")
                    td Fecha de nacimiento
                    td#show_fechadenacimiento2
                tr.copytoclipboard(data-clipboard-target="#show_email2")
                    td Email
                    td#show_email2 
                tr.copytoclipboard(data-clipboard-target="#show_numcliente2")
                    td Núm. Cliente
                    td#show_numcliente2 

    .sidepanel-container-tablas
        p.titulotabla Domicilio
        table.table.table-condensed.table-hover.table-bordered.small-row
            tbody
                tr.copytoclipboard(data-clipboard-target="#show_estado2")
                    td Estado
                    td#show_estado2 
                tr.copytoclipboard(data-clipboard-target="#show_ciudad2")
                    td Ciudad
                    td#show_ciudad2 
                tr.copytoclipboard(data-clipboard-target="#show_colonia2")
                    td Colonia
                    td#show_colonia2 
                tr.copytoclipboard(data-clipboard-target="#show_codigopostal2")
                    td Código postal
                    td#show_codigopostal2  
                tr.copytoclipboard(data-clipboard-target="#show_calle2")
                    td Calle
                    td#show_calle2 
                tr.copytoclipboard(data-clipboard-target="#show_numexterior2")
                    td Núm. exterior
                    td#show_numexterior2 
                tr.copytoclipboard(data-clipboard-target="#show_numinterior2")
                    td Núm. interior
                    td#show_numinterior2 
                tr.copytoclipboard(data-clipboard-target="#show_cruzamientos2")
                    td Cruzamientos
                    td#show_cruzamientos2 
                tr.copytoclipboard(data-clipboard-target="#show_referencias2")
                    td Referencias
                    td#show_referencias2          
                tr.copytoclipboard(data-clipboard-target="#show_celofijo2")
                    td Celular o fijo
                    td#show_celofijo2 
                tr.copytoclipboard(data-clipboard-target="#show_horariovisita2")
                    td Horario de visita
                    td#show_horariovisita2 
                tr.copytoclipboard(data-clipboard-target="#show_curp2")
                    td Curp
                    td#show_curp2 

    .sidepanel-container-tablas
        p.titulotabla Datos laborales
        table.table.table-condensed.table-hover.table-bordered.small-row
            tbody
                tr.copytoclipboard(data-clipboard-target="#show_empresa2")
                    td Empresa
                    td#show_empresa2 
                tr.copytoclipboard(data-clipboard-target="#show_cargo2")
                    td Cargo
                    td#show_cargo2 
                tr.copytoclipboard(data-clipboard-target="#show_celofijolaboral2")
                    td Celular o fijo
                    td#show_celofijolaboral2 
                tr.copytoclipboard(data-clipboard-target="#show_extension2")
                    td Extensión
                    td#show_extension2 
                tr.copytoclipboard(data-clipboard-target="#show_horariovisitalaboral2")
                    td Horario de visita
                    td#show_horariovisitalaboral2     

    .sidepanel-container-tablas
        p.titulotabla Referencias
        table.table.table-condensed.table-hover.table-bordered.small-row
            tbody
                tr.copytoclipboard(data-clipboard-target="#show_nombresref12")
                    td Nombres Ref 1
                    td#show_nombresref12 
                tr.copytoclipboard(data-clipboard-target="#show_apellidosref12")
                    td Apellidos Ref 1
                    td#show_apellidosref12 
                tr.copytoclipboard(data-clipboard-target="#show_telefonoref12")
                    td Teléfono Ref 1
                    td#show_telefonoref12 
                tr.copytoclipboard(data-clipboard-target="#show_horariovisitaref12")
                    td Horario de visita Ref 1
                    td#show_horariovisitaref12 
                
                tr.copytoclipboard(data-clipboard-target="#show_nombresref22")
                    td Nombres Ref 2
                    td#show_nombresref22 
                tr.copytoclipboard(data-clipboard-target="#show_apellidosref22")
                    td Apellidos Ref 2
                    td#show_apellidosref22 
                tr.copytoclipboard(data-clipboard-target="#show_telefonoref22")
                    td Teléfono Ref 2
                    td#show_telefonoref22 
                tr.copytoclipboard(data-clipboard-target="#show_horariovisitaref22")
                    td Horario de visita Ref 2
                    td#show_horariovisitaref22 

                tr.copytoclipboard(data-clipboard-target="#show_nombresref32")
                    td Nombres Ref 3
                    td#show_nombresref32 
                tr.copytoclipboard(data-clipboard-target="#show_apellidosref32")
                    td Apellidos Ref 3
                    td#show_apellidosref32 
                tr.copytoclipboard(data-clipboard-target="#show_telefonoref32")
                    td Teléfono Ref 3
                    td#show_telefonoref32 
                tr.copytoclipboard(data-clipboard-target="#show_horariovisitaref32")
                    td Horario de visita Ref 3
                    td#show_horariovisitaref32 

    .sidepanel-container-tablas
        p.titulotabla Datos del plan
        table.table.table-condensed.table-hover.table-bordered.small-row
            tbody
                tr.copytoclipboard(data-clipboard-target="#show_campanacaptura2")
                    td Campaña
                    td#show_campanacaptura2 
                tr.copytoclipboard(data-clipboard-target="#show_tipodeactivacion2")
                    td Tipo de activación
                    td#show_tipodeactivacion2 
                tr.copytoclipboard(data-clipboard-target="#show_procedencia2")
                    td Procedencia
                    td#show_procedencia2 
                tr.copytoclipboard(data-clipboard-target="#show_migrarnumero2")
                    td Migrar Núm.
                    td#show_migrarnumero2 
                tr.copytoclipboard(data-clipboard-target="#show_refacta2")
                    td Referencia a cta.
                    td#show_refacta2 
                tr.copytoclipboard(data-clipboard-target="#show_canal2")
                    td Canal
                    td#show_canal2 
                tr.copytoclipboard(data-clipboard-target="#show_minutoEAD2")
                    td minutoEAD
                    td#show_minutoEAD2 
                tr.copytoclipboard(data-clipboard-target="#show_plan2")
                    td Plan
                    td#show_plan2 
                tr.copytoclipboard(data-clipboard-target="#show_plazo2")
                    td Plazo
                    td#show_plazo2 
                tr.copytoclipboard(data-clipboard-target="#show_clavedeplan2")
                    td Clave del plan
                    td#show_clavedeplan2 
                tr.copytoclipboard(data-clipboard-target="#show_equipo2")
                    td Equipo
                    td#show_equipo2 
                tr.copytoclipboard(data-clipboard-target="#show_pagoinicial2")
                    td Pago inicial
                    td#show_pagoinicial2 
                tr.copytoclipboard(data-clipboard-target="#show_costoamigo2")
                    td Costo amigo
                    td#show_costoamigo2 

                
    .sidepanel-container-tablas
        p.titulotabla Observaciones adicionales
        table.table.table-condensed.table-hover.table-bordered.small-row
            tbody
                tr.copytoclipboard(data-clipboard-target="#show_observaciones2")
                    td#show_observaciones2 

    #sidepanel-container-form2.sidepanel-display
        .selectstatuscontainer
            select#select_estatuscaptura2.form-control(name="estatus_captura2")
                option(value="default" disabled selected) Seleccionar estatus
                option(value="capturada") Capturada con éxito
                option(value="corregir") Corregir
                option(value="rechazada") Rechazada

            
        .selectstatuscontainer
            #formaccepted2(style='display: none;')
                input#sisactfield2.form-control(type="text", name="sisactfield2" placeholder='Folio sisact')
                input#canalfield2.form-control(type="text", name="canalfield2" placeholder='Canal')
                button.panel_btn_guardar.btn.btn-default#btn_guardarsisact2(disabled) Guardar

            #formcorrected2(style='display: none;')
                textarea#observacionescorreccion2.form-control(name="observacionescorreccion2", cols="auto", rows="4" placeholder='Motivo de la solicitud de correccion...')
                button.panel_btn_guardar.btn.btn-default#btn_guardarcorreccion2(disabled) Guardar
            
            #formrejected2(style='display: none;')
                textarea#observacionesrechazo2.form-control(name="observacionesrechazo", cols="auto", rows="4" placeholder='Motivo del rechazo...')
                button.panel_btn_guardar.btn.btn-default#btn_guardarrechazo2(disabled) Guardar