#modalRechazoCorreccion(style="display: none")
    .title_modalhelper
        span#dynamictitle_modalhelper(data-modalhelper='' data-modalstatus='') MOTIVO
        span#close_modalhelper X
    .body_modalhelper
        //-Aca van los picklists
        select.motivos_estatus#motivorespuestatelcel_aceptadas(style="display:none")
            //- option(value="1 renta, sin financiamiento") 1 renta, sin financiamiento
            //- option(value="1 renta, con financiamiento de hasta $2000") 1 renta, con financiamiento de hasta $2000
            //- option(value="1 renta + 1 deposito") 1 renta + 1 depósito
            //- option(value="1 depósito (3 rentas)") 1 depósito (3 rentas)
            //- option(value="3 rentas, sin financiamiento") 3 rentas, sin financiamiento
            //- option(value="3 rentas, con financiamiento de hasta $2000") 3 rentas, con financiamiento de hasta $2000
            //- option(value="Sin rentas ni depósitos, con financiamiento de hasta $10,000") Sin rentas ni depósitos, con financiamiento de hasta $10,000
            //- option(value="Sin rentas ni depósitos, con financiamiento de hasta $16,900") Sin rentas ni depósitos, con financiamiento de hasta $16,900
            //- option(value="Sin rentas ni depósitos, sin financiamiento") Sin rentas ni depósitos, sin financiamiento

            option(value='1 renta sin financiamiento') 1 renta sin financiamiento
            option(value='1 renta + 1 depga') 1 renta + 1 depga
            option(value='1 depósito (3 rentas)') 1 depósito (3 rentas)
            option(value='3 rentas, sin financiamiento') 3 rentas, sin financiamiento
            option(value='Sin rentas ni depósito, con financiamiento de hasta $5,000 y enganche de 20%') Sin rentas ni depósito, con financiamiento de hasta $5,000 y enganche de 20%
            option(value='Sin rentas ni depósito, con financiamiento de hasta $8,450 y enganche de 15%') Sin rentas ni depósito, con financiamiento de hasta $8,450 y enganche de 15%
            option(value='Sin rentas ni depósito, con financiamiento de hasta $10,000 y enganche de 10%') Sin rentas ni depósito, con financiamiento de hasta $10,000 y enganche de 10%
            option(value='Sin rentas ni depósito, sin financiamiento') Sin rentas ni depósito, sin financiamiento
        
        textarea.motivos_estatus#motivorespuestatelcel_corregir.form-control(name="motivorespuestatelcel", cols="auto", rows="4" placeholder='Motivo de corrección...' style='display:none')

        textarea.motivos_estatus#motivorespuestatelcel_rechazada.form-control(name="motivorespuestatelcel", cols="auto", rows="4" placeholder='Motivo rechazo...' style='display:none')
            
        button.motivos_estatus.btn.btn-default#btn_submit_modalhelper_aceptadas(disabled style="display:none") Guardar aceptada
        button.motivos_estatus.btn.btn-default#btn_submit_modalhelper_corregir(disabled style="display:none") Guardar correccion
        button.motivos_estatus.btn.btn-default#btn_submit_modalhelper_rechazada(disabled style="display:none") Guardar rechazo