#side-panel(style="display:none;")
    #sidepanel-title.sidepanel-display
        p#idcaptura(data-idrequest=" ")
        p#close-sidepanel X
    #sidepanel-subtitle.sidepanel-display
        p#analistaasignado 
        p#fechadecaptura

    .sidepanel-container-tablas
        p.titulotabla Datos personales
        table.table.table-condensed.table-hover.table-bordered.small-row
            tbody
                tr.copytoclipboard(data-clipboard-target="#show_apellidos")
                    td Apellidos
                    td#show_apellidos 
                tr.copytoclipboard(data-clipboard-target="#show_nombres")
                    td Nombres
                    td#show_nombres 
                tr.copytoclipboard(data-clipboard-target="#show_rfc")
                    td RFC
                    td#show_rfc 
                tr.copytoclipboard(data-clipboard-target="#show_sexo")
                    td Sexo
                    td#show_sexo 
                tr.copytoclipboard(data-clipboard-target="#show_fechadenacimiento")
                    td Fecha de nacimiento
                    td#show_fechadenacimiento
                tr.copytoclipboard(data-clipboard-target="#show_email")
                    td Email
                    td#show_email 
                tr.copytoclipboard(data-clipboard-target="#show_numcliente")
                    td Núm. Cliente
                    td#show_numcliente 

    .sidepanel-container-tablas
        p.titulotabla Domicilio
        table.table.table-condensed.table-hover.table-bordered.small-row
            tbody
                tr.copytoclipboard(data-clipboard-target="#show_estado")
                    td Estado
                    td#show_estado 
                tr.copytoclipboard(data-clipboard-target="#show_ciudad")
                    td Ciudad
                    td#show_ciudad 
                tr.copytoclipboard(data-clipboard-target="#show_colonia")
                    td Colonia
                    td#show_colonia 
                tr.copytoclipboard(data-clipboard-target="#show_codigopostal")
                    td Código postal
                    td#show_codigopostal  
                tr.copytoclipboard(data-clipboard-target="#show_calle")
                    td Calle
                    td#show_calle 
                tr.copytoclipboard(data-clipboard-target="#show_numexterior")
                    td Núm. exterior
                    td#show_numexterior 
                tr.copytoclipboard(data-clipboard-target="#show_numinterior")
                    td Núm. interior
                    td#show_numinterior 
                tr.copytoclipboard(data-clipboard-target="#show_cruzamientos")
                    td Cruzamientos
                    td#show_cruzamientos 
                tr.copytoclipboard(data-clipboard-target="#show_referencias")
                    td Referencias
                    td#show_referencias          
                tr.copytoclipboard(data-clipboard-target="#show_celofijo")
                    td Celular o fijo
                    td#show_celofijo 
                tr.copytoclipboard(data-clipboard-target="#show_horariovisita")
                    td Horario de visita
                    td#show_horariovisita 
                tr.copytoclipboard(data-clipboard-target="#show_curp")
                    td Curp
                    td#show_curp 

    .sidepanel-container-tablas
        p.titulotabla Datos laborales
        table.table.table-condensed.table-hover.table-bordered.small-row
            tbody
                tr.copytoclipboard(data-clipboard-target="#show_empresa")
                    td Empresa
                    td#show_empresa 
                tr.copytoclipboard(data-clipboard-target="#show_cargo")
                    td Cargo
                    td#show_cargo 
                tr.copytoclipboard(data-clipboard-target="#show_celofijolaboral")
                    td Celular o fijo
                    td#show_celofijolaboral 
                tr.copytoclipboard(data-clipboard-target="#show_extension")
                    td Extensión
                    td#show_extension 
                tr.copytoclipboard(data-clipboard-target="#show_horariovisitalaboral")
                    td Horario de visita
                    td#show_horariovisitalaboral     

    .sidepanel-container-tablas
        p.titulotabla Referencias
        table.table.table-condensed.table-hover.table-bordered.small-row
            tbody
                tr.copytoclipboard(data-clipboard-target="#show_nombresref1")
                    td Nombres Ref 1
                    td#show_nombresref1 
                tr.copytoclipboard(data-clipboard-target="#show_apellidosref1")
                    td Apellidos Ref 1
                    td#show_apellidosref1 
                tr.copytoclipboard(data-clipboard-target="#show_telefonoref1")
                    td Teléfono Ref 1
                    td#show_telefonoref1 
                tr.copytoclipboard(data-clipboard-target="#show_horariovisitaref1")
                    td Horario de visita Ref 1
                    td#show_horariovisitaref1 
                
                tr.copytoclipboard(data-clipboard-target="#show_nombresref2")
                    td Nombres Ref 2
                    td#show_nombresref2 
                tr.copytoclipboard(data-clipboard-target="#show_apellidosref2")
                    td Apellidos Ref 2
                    td#show_apellidosref2 
                tr.copytoclipboard(data-clipboard-target="#show_telefonoref2")
                    td Teléfono Ref 2
                    td#show_telefonoref2 
                tr.copytoclipboard(data-clipboard-target="#show_horariovisitaref2")
                    td Horario de visita Ref 2
                    td#show_horariovisitaref2 
                
                tr.copytoclipboard(data-clipboard-target="#show_nombresref3")
                    td Nombres Ref 3
                    td#show_nombresref3 
                tr.copytoclipboard(data-clipboard-target="#show_apellidosref3")
                    td Apellidos Ref 3
                    td#show_apellidosref3 
                tr.copytoclipboard(data-clipboard-target="#show_telefonoref3")
                    td Teléfono Ref 3
                    td#show_telefonoref3 
                tr.copytoclipboard(data-clipboard-target="#show_horariovisitaref3")
                    td Horario de visita Ref 3
                    td#show_horariovisitaref3 

    .sidepanel-container-tablas
        p.titulotabla Datos del plan
        table.table.table-condensed.table-hover.table-bordered.small-row
            tbody
                tr.copytoclipboard(data-clipboard-target="#show_campanacaptura")
                    td Campaña
                    td#show_campanacaptura 
                tr.copytoclipboard(data-clipboard-target="#show_tipodeactivacion")
                    td Tipo de activación
                    td#show_tipodeactivacion 
                tr.copytoclipboard(data-clipboard-target="#show_procedencia")
                    td Procedencia
                    td#show_procedencia 
                tr.copytoclipboard(data-clipboard-target="#show_migrarnumero")
                    td Migrar Núm.
                    td#show_migrarnumero 
                tr.copytoclipboard(data-clipboard-target="#show_refacta")
                    td Referencia a cta.
                    td#show_refacta 
                tr.copytoclipboard(data-clipboard-target="#show_canal")
                    td Canal
                    td#show_canal 
                tr.copytoclipboard(data-clipboard-target="#show_minutoEAD")
                    td minutoEAD
                    td#show_minutoEAD 
                tr.copytoclipboard(data-clipboard-target="#show_plan")
                    td Plan
                    td#show_plan 
                tr.copytoclipboard(data-clipboard-target="#show_plazo")
                    td Plazo
                    td#show_plazo 
                tr.copytoclipboard(data-clipboard-target="#show_clavedeplan")
                    td Clave del plan
                    td#show_clavedeplan 
                tr.copytoclipboard(data-clipboard-target="#show_equipo")
                    td Equipo
                    td#show_equipo 
                tr.copytoclipboard(data-clipboard-target="#show_pagoinicial")
                    td Pago inicial
                    td#show_pagoinicial 
                tr.copytoclipboard(data-clipboard-target="#show_costoamigo")
                    td Costo amigo
                    td#show_costoamigo 
    
                
    .sidepanel-container-tablas
        p.titulotabla Observaciones adicionales
        table.table.table-condensed.table-hover.table-bordered.small-row
            tbody
                tr.copytoclipboard(data-clipboard-target="#show_observaciones")
                    td#show_observaciones 

    #sidepanel-container-form.sidepanel-display
        .selectstatuscontainer
            select#select_estatuscaptura.form-control(name="estatus_captura")
                option(value="default" disabled selected) Seleccionar estatus
                option(value="capturada") Capturada con éxito
                option(value="corregir") Corregir
                option(value="rechazada") Rechazada

            
        .selectstatuscontainer
            #formaccepted(style='display: none;')
                input#sisactfield.form-control(type="text", name="sisactfield" placeholder='Folio sisact')
                input#canalfield.form-control(type="text", name="canalfield" placeholder='Canal')
                button.panel_btn_guardar.btn.btn-default#btn_guardarsisact(disabled) Guardar

            #formcorrected(style='display: none;')
                textarea#observacionescorreccion.form-control(name="observacionescorreccion", cols="auto", rows="4" placeholder='Motivo de la solicitud de correccion...')
                button.panel_btn_guardar.btn.btn-default#btn_guardarcorreccion(disabled) Guardar
            
            #formrejected(style='display: none;')
                textarea#observacionesrechazo.form-control(name="observacionesrechazo", cols="auto", rows="4" placeholder='Motivo del rechazo...')
                button.panel_btn_guardar.btn.btn-default#btn_guardarrechazo(disabled) Guardar