#modalRechazo(style="display: none")
    .title_modalhelper
        span#dynamictitle_modalrechazo(data-modalhelper='' data-modalstatus='') MOTIVO
        span#close_modalrechazo X
    .body_modalhelper
        textarea#motivoderechazo.form-control(name="motivorespuestatelcel", cols="auto", rows="4" placeholder='Motivo...')
        button.btn.btn-default#btn_submit_motivorechazo(disabled) Guardar 