#tab_aceptadas(style="display: none")
    #container_tablas
        .tablesection#tabla_concentrado
            .tableheader.shadow-border
                p ACEPTADAS POR AGENDAR
            .tabletitles.shadow-border
                table.table.table-hover.table-condensed
                    thead.shadow-border
                        tr
                            td FECHA
                            td VENDEDOR
                            td CANAL
                            td SISACT
                            td AGENDAR
                            
                            
                    tbody#tbody_aceptadas
            include analista_modalRechazo.pug 
            
        .tablesection#tabla_agenda
            .tableheader.shadow-border
                p CAPTURAS AGENDADAS
            .tabletitles.shadow-border
                table.table.table-hover.table-condensed
                    thead.shadow-border
                        tr
                            td AGENDADO
                            td VENDEDOR
                            td CANAL
                            td SISACT
                            td CONTACTO
                            
                            
                    tbody#tbody_agendaanalista  
            include analista_modalObservacion.pug  
            