doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet' href='../bootstrap/dist/css/bootstrap.css')
        link(rel="stylesheet", href="../styles/select2.css")
        link(rel='stylesheet' href='../styles/analista.css')
        link(rel="stylesheet", href="../styles/animate.css")
        link(rel="stylesheet", href="../styles/datetimepicker.css")
        link(rel='icon' href='../assets/favicon.ico')
        title= "TMK | " + name
    body(data-iduser=iduser)
        header
            .maincontainer
                    #brand
                        #logo
                            img(src="../assets/logo_exp.png", alt="Logotipo Explora Comunicaciones")
                            #brandname
                                p EXPLORA
                                p COMUNICACIONES
                    
                    #userlogout
                        a(href="/logout") 
                            p= name + " | ANALISTA"
                            img(src="../assets/logoff.svg", alt="")
                            
        #statusbar
            .maincontainer  
                    #sectionname
                        p ANALISTA  
                            
        
        #chartsbar
            .buttonwithdata#btn-pendientes.linktabactive
                span.numberdata#pendientes 0
                span.textdata PENDIENTES
            .buttonwithdata#btn-enesperaderespuesta
                span.numberdata#enesperaderespuesta 0
                span.textdata EN ESPERA DE RESPUESTA
            //.buttonwithdata#btn-aceptadas
                span.numberdata#aceptadas 0
                span.textdata ACEPTADAS
            .buttonwithdata#btn-correcciones
                span.numberdata#correcciones 0
                span.textdata CORRECCIONES
            .buttonwithdata#btn-activaciones
                span.numberdata#activaciones 0
                span.textdata ACTIVACIONES
                               
                        

        #tablessection   
            .maincontainer
                include analista_secciones
        #overlay_analista
    
                

        
        
    
    script(src='../jquery/dist/jquery.min.js')
    script(src='../javascripts/socket.io.js')
    script(src='../bootstrap/dist/js/bootstrap.min.js')
    script(src='../javascripts/datetimepicker.js')
    script(src='../javascripts/select2.js')
    script(src='../javascripts/analista_tablas.js')
    script(src='../javascripts/analista_ajax.js')
    script(src='../javascripts/analista_helper.js')
    script(src='../javascripts/analista.js')
    script(src='../javascripts/clipboard.min.js')


    
    
    
