.tablesection#tab_enespera(style="display: none")
    .tableheader.shadow-border
        p EN ESPERA DE RESPUESTA
    .tabletitles.shadow-border
        table.table.table-hover.table-condensed.table-responsive
            thead.shadow-border
                tr
                    td FECHA
                    td CLIENTE
                    td VENDEDOR
                    td CAMPAÑA
                    td CANAL
                    td SISACT
                    td 
            tbody#tbody_enespera
    include analista_modalRechazoCorreccion.pug
                                