#modalObservacion(style="display: none")
    .title_modalhelper
        div 
            span Observaciones del ID - 
            span#comentid 
        span#close_modalobservacion X
    .body_modalhelper
        textarea#comentarioagenda.form-control(name="motivorespuestatelcel", cols="auto", rows="4" placeholder='Nuevo comentario...')
        button.btn.btn-default#btn_comentarioagenda(disabled) Guardar 
        #box_observacion
            p#comentariosisact SISACT:
            p#comentariocanal CANAL:
            p#comentariocliente CLIENTE:
            br  
            br
            p ÚLTIMO COMENTARIO:
            br
            p.well#comentarioanterior ...