.tablesection#tab_correcciones(style="display: none")
    .tableheader.shadow-border
        p CORRECCIONES
    .tabletitles.shadow-border#table-relative
        table.table.table-hover.table-condensed
            thead.shadow-border
                tr
                    td FECHA
                    td CLIENTE
                    td VENDEDOR
                    td TURNO
                    td TIPO DE ACTIVACION
                    td CAMPAÑA
                    td 
            tbody#tbody_correcciones
        include analista-sidepanel2.pug                       