.tablesection#tab_pendientes(style="z-index: 10000;")
    .tableheader.shadow-border
        p PENDIENTES
    .tabletitles.shadow-border#table-relative
        table.table.table-hover.table-condensed
            thead.shadow-border
                tr
                    td FECHA
                    td CLIENTE
                    td VENDEDOR
                    td TURNO
                    td TIPO DE ACTIVACION
                    td CAMPAÑA
                    td 
            tbody#tbody_pendientes
        include analista-sidepanel.pug