#panelContainerDetails(style="display: none")
    #panelDetailsTitle
        p Detalles de la captura ID&nbsp;
            span#get_capturaid 
        p Sisact:&nbsp;
            span#get_sisact 
        p Canal:&nbsp;
            span#get_canal2 
        p Status:&nbsp;
            span#get_status   
        img#closePanelDetails.buttons-events(src="../assets/rejected.png", alt="closebutton")
    #detailscontent
            .confr1c1 
                

                p.headertitle Datos personales
                p Sexo: 
                    span#get_sexo
                p Nombre: 
                    span#get_nombresapellidos
                p Fecha de nacimiento: 
                    span#get_fechadenacimiento
                p Núm cliente: 
                    span#get_numcliente    
                p Email: 
                    span#get_email
                p RFC: 
                    span#get_rfc
                p CURP: 
                    span#get_curp
            .confr1c2 

                p.headertitle Datos del plan
                p Campaña: 
                    span#get_campanacaptura
                p Tipo: 
                    span#get_tipoactivacion
                p Procedencia: 
                    span#get_procedencia
                p Migrar núm: 
                    span#get_numamigrar
                p Ref. a cta: 
                    span#get_refacta 
                p Canal: 
                    span#get_canal
                p Plan: 
                    span#get_plan
                p Clave plan: 
                    span#get_claveplan
                p Plazo plan: 
                    span#get_plazo
                p Equipo: 
                    span#get_equipo
                p Pago inicial: 
                    span#get_pagoinicial
                p Costo amigo: 
                    span#get_costoamigo
                p Enganche : 
                    span#get_enganche
                
            .confr1c3 
                p.headertitle Domicilio
                p Ciudad, Edo: 
                    span#get_ciudadestado
                p Calle: 
                    span#get_callecliente
                p Núm exterior: 
                    span#get_numexterior
                p Núm interior: 
                    span#get_numinterior
                p Cruzamientos: 
                    span#get_cruzamientos
                p Colonia: 
                    span#get_colonia
                p Código postal: 
                    span#get_codigopostal
                p Celular o fijo: 
                    span#get_numcelularofijo
                p Horario visita: 
                    span#get_horariovisita
                p Referencias: 
                    span#get_referencias

            .confr2c1 
                p.headertitle Datos laborales
                p Cargo: 
                    span#get_cargo
                p Empresa: 
                    span#get_nombreempresa
                p Celular o fijo: 
                    span#get_celofijolaboral
                p Ext: 
                    span#get_extensionlaboral
                p Horario visita: 
                    span#get_horariovisitalaboral

            .confr2c2 
                p.headertitle Referencias
                p Ref1: 
                    span#get_referencia1
                p Ref2: 
                    span#get_referencia2
                p Ref3: 
                    span#get_referencia3

    #details_obs
        p.headertitle Observaciones adicionales del asesor:
        p Observaciones: 
            span#get_observacionesadicionales
        
        p.headertitle Observaciones del analista:

        p Observaciones de aceptación: 
            span#get_motivoaceptacion    
        
        p Motivo de rechazo: 
            span#get_motivorechazo
        
        p Por corregir: 
            span#get_correccion

        p Agendado 
            span#link_agenda 
                a(href="#" id="agenda_asesor")  (Click para agendar) 
            span  :
            span#get_fechaagenda
            span  
            span#get_cacagenda
            span#agenda_span(style="display: none")
                input#date_agenda.datetimepicker(type="text", name="date_agenda", placeholder="2018/05/03 19:05:28")
                input#cac_agenda(type="text", name="cac_agenda", placeholder="GPZ AMERICAS")
                button#save_agenda.btn.btn-default(disabled) Guardar
        
        p Comentario de seguimiento a cita agendada: 
            span#comentarioanalista

        
        button#showmodalforcorrection.btn.btn-danger.btn-md(style="display: none") CORREGIR CAPTURA