.container_modaldomicilio(style="display:none")
    .headercontainer_mdom
        .mdom_header
            p#mdom_container_idexit
                span
                    span ID:&nbsp;
                    span.value_mdom#mdom_id --
                span
                    span
                        img#mdom_closebutton(src="../assets/closebutton.png", alt="Cerrar")
            p
                span Fecha:&nbsp;
                span.value_mdom#mdom_fecha --
           
            span
                span Estatus:&nbsp;
                span.value_mdom#mdom_status  --

    .bodycontainer_mdom
        .mdom_titlesec
            p DATOS PARA ENTREGAR
        .mdom_datacontainer#mdom_entrega
            .item1_entrega
                label.label_grid CLIENTE
                p#detalles_cliente --
            
            .item2_entrega
                label.label_grid NUMERO DE CONTACTO
                p#detalles_contacto --

            .item3_entrega
                label.label_grid NUMERO A MIGRAR
                p#detalles_numamigrar --

            .item4_entrega
                label.label_grid DESTINO
                p#detalles_destino --

            .item5_entrega
                label.label_grid FECHA DE ENTREGA
                p#detalles_fechaentrega --

            .item10_entrega
                label.label_grid ENGANCHE
                p#detalles_enganche --

            .item6_entrega
                label.label_grid HORA ENTREGA
                p#detalles_horaentrega --

            .item7_entrega
                label.label_grid DIRECCION
                p#detalles_direccion --

            .item8_entrega
                label.label_grid COLONIA/CP
                p#detalles_colonia --

            .item9_entrega
                label.label_grid REFERENCIAS
                p#detalles_referencias --
        
        .mdom_titlesec
            p DATOS DEL TRAMITE
        .mdom_datacontainer#mdom_tramite
            .item1_tramite
                label.label_grid SISACT
                p#detalles_sisact --
            
            .item2_tramite
                label.label_grid CANAL
                p#detalles_canal --

            .item3_tramite
                label.label_grid PLAN
                p#detalles_plan --

            .item4_tramite
                label.label_grid CLAVE
                p#detalles_clave --

            .item5_tramite
                label.label_grid PLAZO
                p#detalles_plazo --

            .item6_tramite
                label.label_grid TIPO
                p#detalles_tipoplan --

            .item7_tramite
                label.label_grid TIPO DE ACTIVACION
                p#detalles_tipo --

            .item8_tramite
                label.label_grid CUENTA A CONSOLIDAR
                p#detalles_ctaconsolidar --

            .item9_tramite
                label.label_grid EMAIL
                p#detalles_email --
        
            .item10_tramite
                label.label_grid EQUIPO
                p#detalles_equipo  --
        
            .item11_tramite
                label.label_grid IMEI
                p#detalles_imei --

            .item12_tramite
                label.label_grid FINANCIAMIENTO
                p#detalles_financiemiento  --

            .item13_tramite
                label.label_grid CLIENTE PAGARA
                p#detalles_pagara --

            .item14_tramite
                label.label_grid OBSERVACIONES
                p#detalles_observaciones --
        
        .mdom_titlesec
            p COMPLEMENTARIOS
        .mdom_datacontainer#mdom_complementarios
            .item1_complementarios
                label.label_grid FACTURA
                p#detalles_factura --

            .item2_complementarios
                label.label_grid ICCID
                p#detalles_iccid --
        
            .item3_complementarios
                label.label_grid GUIA
                p#detalles_guia --
        
            .item4_complementarios
                label.label_grid PROVEEDOR
                p#detalles_proveedor --

            .item5_complementarios
                label.label_grid FECHA DE ACTIVACION
                p#detalles_fechaactivacion --

            .item6_complementarios
                label.label_grid FECHA DE ENVIO
                p#detalles_fechaenvio --
                
            .item7_complementarios
                label.label_grid FECHA ENTREGADO
                p#detalles_fechaentregado --

        .mdom_titlesec
            p Observaciones del analista
        .mdom_datacontainer#mdom_observaciones
            //.lead No se encontraron comentarios.
            .comments_mdom
                span.fechalb_mdom#detalles_datestatus
                span &nbsp; - &nbsp;
                span.mensajelb_mdom#detalles_comentario Se realiza envio de equipo, usuario menciona que bla bla bla
            
            