doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet' href='../bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='../styles/asesor.css')
        // link(rel="stylesheet", href="../styles/animate.css")
        link(rel="stylesheet", href="../styles/select2.css")
        link(rel="stylesheet", href="../styles/datetimepicker.css")
        link(rel='icon' href='../assets/favicon.ico')
        
        title= "TMK | " + name
    body(data-rol=rol)

        include modal_asesor.pug
        +modal("NUEVA CAPTURA","capturanormalmodal")

        include modal_domicilio.pug
        +modaldomicilio("ENTREGA A DOMICILIO","capturadomiciliomodal")
        

        

        header
            .maincontainer
                    #brand
                        #logo
                            img(src="../assets/logo_exp.png", alt="Logotipo Explora Comunicaciones")
                            #brandname
                                p EXPLORA
                                p COMUNICACIONES
                    //#menu
                        ul#menuitems
                            li#dashboard DASHBOARD
                            li#historico HISTORICO
                    #userlogout
                        a(href="/logout") 
                            p#asesorname(data-name=name)= name + " | " + campaign
                            img(src="../assets/logoff.svg", alt="")
                            
        #statusbar
            .maincontainer  
                    #sectionname
                        p DASHBOARD  
                    #buttonsection
                        #sectionnotifications
                            img.notificationicon(src="../assets/capturadas.png", alt="Capturas" title="Capturas") 
                            p#notification_capturas -- 
                            

                            img.notificationicon(src="../assets/correcciones.png", alt="Correcciones" title="Correcciones") 
                            p#notification_correcciones  -- 
                            

                            img.notificationicon(src="../assets/agendadas.png", alt="Agendadas" title="Agendadas") 
                            p#notification_agendadas  -- 
                            

                            img.notificationicon(src="../assets/borradores.png", alt="Borradores" title="Borradores") 
                            p#notification_borradores -- 

                        button.btn.btn-default.btn-domicilio#capturadomiciliomodalbtn(data-toggle="modal" data-target="#capturadomiciliomodal") Entrega a domicilio
                            
                        button.btn.btn-default.btn-capturas#capturanormalmodalbtn(data-toggle="modal" data-target="#capturanormalmodal") Captura Normal
        
        #chartsbar
            .maincontainer
                    #minidashboard
                        #numbersection
                            .statistics#activas
                                p#lineasactivadas 
                                    span -
                                p Lineas Activadas
                            .statistics#capturas
                                p#capturasrealizadas
                                    span -
                                p Capturas Realizadas
                        //#graphicsection
                            #bar
                                #hexagon
                                    p#cantidadactivas -
                                    p /
                                    p#meta - 
                                #mainbar
                                    #activasbar
                                    #capturasbar
                            #caption
                                p Avance hacia meta mensual
                    #tableone
                        table.table-condensed.table-hover
                            thead
                                tr
                                    th(colspan="2") MEJORES ACTIVADORES
                            tbody#topactivadores        
                                
                                    
                                
                    #tabletwo
                        table.table-condensed.table-hover
                            thead
                                tr
                                    th(colspan="2") DESEMPEÑO POR CAMPAÑA
                            tbody#topcampanias
                               
                        

        #tablessection   
            .maincontainer
                #parentflextables
                    #tables-row1
                        #agenda.tablesection
                            .tableheader.shadow-border
                                p AGENDADAS
                            .tabletitles.shadow-border.tabletitles1
                                table.table.table-hover.table-condensed
                                    thead
                                        tr
                                            td Agendada
                                            td Cliente
                                            td Contacto
                                            td Hora
                                    tbody#statusagenda

                        

                        #borradores.tablesection
                            .tableheader.shadow-border
                                p BORRADORES
                            .tabletitles.shadow-border.tabletitles1
                                table.table.table-hover.table-condensed
                                    thead
                                        tr
                                            td Fecha Captura
                                            td Cliente
                                            td Núm Contacto
                                    tbody#statusborrador
                            

                    #tables-row2
                        
                        #tablacapturas.tablesection
                            .tableheader.shadow-border
                                span.option_breadcrumbs.breadcrumbs.btn_tabla_capturasnormales.active_breadcrumb CAPTURAS NORMALES - 
                                    span.cantidadnormales 0
                                span.divider_breadcrumbs.breadcrumbs  |
                                span.option_breadcrumbs.breadcrumbs.btn_tabla_correcciones  CORRECCIONES CAPTURAS NORMALES - 
                                    span.cantidadcorrecciones 0
                                span.divider_breadcrumbs.breadcrumbs  |
                                span.option_breadcrumbs.breadcrumbs.btn_tabla_capturasdomicilio  CAPTURAS A DOMICILIO - 
                                    span.cantidaddomicilio 0
                                span.divider_breadcrumbs.breadcrumbs  |
                                span.parent_searchfield
                                    input.searchfield_tablasrow2#search_capturanormal(type='text' placeholder='Buscar captura')
                            .tabletitles.shadow-border.tabletitles2
                                table.table.table-hover.table-condensed
                                    thead
                                        tr
                                            td Fecha Captura
                                            td Cliente
                                            td Teléfono
                                            td Plan
                                            //td Canal
                                            td Estatus
                                    tbody#statuscapturas
                                            

                        #correcciones.tablesection(style="display:none")
                            .tableheader.shadow-border
                                span.option_breadcrumbs.breadcrumbs.btn_tabla_capturasnormales CAPTURAS NORMALES - 
                                    span.cantidadnormales 0
                                span.divider_breadcrumbs.breadcrumbs  |
                                span.option_breadcrumbs.breadcrumbs.btn_tabla_correcciones.active_breadcrumb  CORRECCIONES CAPTURAS NORMALES - 
                                    span.cantidadcorrecciones 0
                                span.divider_breadcrumbs.breadcrumbs  |
                                span.option_breadcrumbs.breadcrumbs.btn_tabla_capturasdomicilio  CAPTURAS A DOMICILIO - 
                                    span.cantidaddomicilio 0
                                span.divider_breadcrumbs.breadcrumbs  |
                                span.parent_searchfield
                                    input.searchfield_tablasrow2#search_capturacorreccion(type='text' placeholder='Buscar captura')
                            .tabletitles.shadow-border.tabletitles2
                                table.table.table-hover.table-condensed
                                    thead
                                        tr
                                            td Fecha Captura
                                            td Cliente
                                            td Teléfono
                                            td Plan
                                            td Estatus
                                    tbody#statuscorregir

                        #tabladomicilio.tablesection(style="display:none")
                            .tableheader.shadow-border
                                span.option_breadcrumbs.breadcrumbs.btn_tabla_capturasnormales CAPTURAS NORMALES - 
                                    span.cantidadnormales 0
                                span.divider_breadcrumbs.breadcrumbs  |
                                span.option_breadcrumbs.breadcrumbs.btn_tabla_correcciones  CORRECCIONES CAPTURAS NORMALES - 
                                    span.cantidadcorrecciones 0
                                span.divider_breadcrumbs.breadcrumbs  |
                                span.option_breadcrumbs.breadcrumbs.btn_tabla_capturasdomicilio.active_breadcrumb  CAPTURAS A DOMICILIO - 
                                    span.cantidaddomicilio 0
                                span.divider_breadcrumbs.breadcrumbs  |
                                span.parent_searchfield
                                    input.searchfield_tablasrow2#search_capturadomicilio(type='text' placeholder='Buscar captura')
                            .tabletitles.shadow-border.tabletitles2
                                table.table.table-hover.table-condensed
                                    thead
                                        tr
                                            td Capturada
                                            td Guía
                                            td Fecha de envío del equipo
                                            td Cliente
                                            td Número de contacto
                                            td Estatus
                                    tbody#statusdomicilio
            
            #overlay-back                                
            include asesor_paneldetallesrequest.pug
    include asesor_domicilio_detallesmodal.pug

    
    script(src='../jquery/dist/jquery.min.js')
    script(src='../javascripts/datetimepicker.js')
    script(src='../javascripts/socket.io.js')
    script(src='../javascripts/asesor_helpers.js')
    script(src='../javascripts/asesor_helpers2.js')
    script(src='../javascripts/asesor_tablas.js')
    script(src='../javascripts/asesor_validacion.js')
    script(src='../javascripts/asesor_validacion2.js')
    script(src='../javascripts/asesor_ajax.js')
    script(src='../javascripts/asesor_ajax2.js')
    script(src='../javascripts/asesor.js')
    script(src='../javascripts/asesor_domicilio_ajax.js')
    script(src='../javascripts/asesor_domicilio_helpers.js')
    script(src='../javascripts/asesor_domicilio_handler.js')
    script(src='../bootstrap/dist/js/bootstrap.min.js')
    script(src='../javascripts/select2.js')
    script(src='../javascripts/clipboard.min.js')
    
    
    
