.tablesection#tab_agendadas(style="display: none")
    .tableheader.shadow-border
        p AGENDADAS
    input.form-control#filtro_agendadas(type='text' placeholder='BUSCAR O FILTRAR')
    .tabletitles.shadow-border
        table.table.table-condensed
            thead.shadow-border
                tr
                    td CAPTURADA
                    td CLIENTE
                    td VENDEDOR
                    td CONTACTO
                    td CANAL
                    td SISACT
                    td AGENDADA
                    td ACCIONES
                    
                    
            tbody#tbody_agendadas
           
            
