doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet' href='../bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='../styles/cerrador.css')
        link(rel="stylesheet", href="../styles/animate.css")
        link(rel="stylesheet", href="../styles/datetimepicker.css")
        link(rel='icon' href='../assets/favicon.ico')
        title= "TMK | " + name
    body(data-iduser=iduser)
        header
            .maincontainer
                    #brand
                        #logo
                            img(src="../assets/logo_exp.png", alt="Logotipo Explora Comunicaciones")
                            #brandname
                                p EXPLORA
                                p COMUNICACIONES
                    
                    #userlogout
                        a(href="/logout")
                            p= name + " | CERRADOR"
                            img(src="../assets/logoff.svg", alt="")
                            
        #statusbar
            .maincontainer  
                    #sectionname
                        p CERRADOR  
                            
        
        #chartsbar
            .buttonwithdata#btn-concentrado.linktabactive
                span.numberdata#concentrado 0
                span.textdata CONCENTRADO
            .buttonwithdata#btn-aceptadassin
                span.numberdata#aceptadassin 0
                span.textdata ACEPTADAS HOY SINERGIA
            .buttonwithdata#btn-aceptadasdom
                span.numberdata#aceptadasdom 0
                span.textdata ACEPTADAS DOMICILIO
            .buttonwithdata#btn-agendadas
                span.numberdata#agendadas 0
                span.textdata AGENDADAS
            .buttonwithdata#btn-activaciones
                span.numberdata#activaciones 0
                span.textdata ACTIVACIONES
                               
                        
        
        #tablessection   
            .maincontainer
                include cerrador_secciones
            include cerrador_modalRechazo
            include cerrador_modalcomentario
            include cerrador_modalagenda    
        
        #overlay_analista
                

        
        
    
    script(src='../jquery/dist/jquery.min.js')
    script(src='../javascripts/socket.io.js')
    script(src='../bootstrap/dist/js/bootstrap.min.js')
    script(src='../javascripts/datetimepicker.js')
    script(src='../javascripts/select2.js')
    script(src='../javascripts/cerrador_helper.js')
    script(src='../javascripts/cerrador_validacion.js')
    script(src='../javascripts/cerrador_tablas.js')
    script(src='../javascripts/cerrador_ajax.js')
    script(src='../javascripts/cerrador.js')
    script(src='../javascripts/clipboard.min.js')


    
    
    
