.tablesection#tab_aceptadassin(style="display: none")
    .tableheader.shadow-border
        p ACEPTADAS SINERGIA DEL DIA
    .tabletitles.shadow-border
        table.table.table-condensed
            thead.shadow-border
                tr
                    td CAPTURADA
                    td CLIENTE
                    td CONTACTO
                    td VENDEDOR
                    td CANAL
                    td SISACT
                    td ACCIONES
                    
                    
            tbody#tbody_aceptadassin
            
            
