.tablesection#tab_concentrado
   
  .tableheader.shadow-border
      p CONCENTRADO DE ACEPTACIONES
  input.form-control#filtro_concentrado(type='text' placeholder='BUSCAR O FILTRAR')
  .tabletitles.shadow-border#table-relative
      table.table.table-condensed.table-responsive
          thead.shadow-border
              tr
                  td CAPTURADA
                  td CLIENTE
                  td CONTACTO
                  td VENDEDOR
                  td CANAL
                  td SISACT
                  td ACCIONES
                  
          tbody#tbody_concentrado
      //include cerrador_modalrechazo.pug
      //include cerrador_modalcomentario.pug
      //include cerrador_modalagenda.pug
      
