#modalcomentario(style='display:none')
    .headermodalcomentario
        p.titlemodal
            span 
                img(src='../assets/comnt_white.png' alt='icono comentario') 
                span   COMENTARIO DE SEGUIMIENTO
        p ID 
            span#idrequestmodalcomentario --
    .bodymodal
        section.userdatamodal
            span#nombremodalcomentario -- 
            span#contactomodalcomentario --
        section.userdatamodal
            span SISACT: 
                span#sisactmodalcomentario --
            span CANAL: 
                span#canalmodalcomentario --
        section.actionmodal
            label COMENTARIO: 
            textarea#textareamodalcomentario
            .buttonsection
                button.btn.btn-default.btnmodal#submitmodalcomentario(disabled) GUARDAR
                button.btn.btn-danger.btnmodal#close_modalcomentario CANCELAR Y CERRAR

            