.tablesection#tab_activadas(style="display: none")
    .tableheader.shadow-border
        p ACTIVACIONES
    .tabletitles.shadow-border
        table.table.table-hover.table-condensed
            thead.shadow-border
                tr
                    td FECHA
                    td CLIENTE
                    td VENDEDOR
                    td TURNO
                    td CAMPAÑA
                    td SISACT
                    
                    
            tbody#tbody_activadas
                             