.tablesection#tab_aceptadasdom(style="display: none")
    .tableheader.shadow-border
        p ACEPTADAS DOMICILIO
    .tabletitles.shadow-border#table-relative
        table.table.table-condensed
            thead.shadow-border
                tr
                    td CAPTURADA
                    td CLIENTE
                    td CONTACTO
                    td VENDEDOR
                    td CANAL
                    td SISACT
                    td ACCIONES

            tbody#tbody_aceptadasdom
        