#modalagenda(style='display:none')
    .headermodalagenda
        p.titlemodal
            span 
                img(src='../assets/calendario_white.png' alt='icono calendario') 
                span   AGENDAR LLAMADA
        p ID 
            span#idrequestmodalagenda --
    .bodymodal
        section.userdatamodal
            span#nombremodalagenda -- 
            span#contactomodalagenda --
        section.userdatamodal
            span SISACT: 
                span#sisactmodalagenda --
            span CANAL: 
                span#canalmodalagenda --
        section.actionmodal
            label Fecha: 
            input#fechaagendainput.datetimepicker.form-control.inputagendamodal(type="text", name="fechaagendainput", placeholder="2018/05/26 15:35:12")
            
            label CAC: 
            //-input#canalagendainput.form-control.inputagendamodal(type="text", name="canalagendainput", placeholder="GPZXXXXX")
            select#canalagendainput.form-control.inputagendamodal(name="canalagendainput")
                option(value = 'Merida Gran Plaza') GPZEST3 - Merida Gran Plaza
                option(value = 'Merida Itzaes') ITZEST3 - Merida Itzaes
                option(value = 'Merida Americas') CAAEST3 - Merida Americas
                option(value = 'Merida Oriente') CA4EST3 - Merida Oriente
                option(value = 'Merida Altabrisa') CA5EST3 - Merida Altabrisa
                option(value = 'Merida Centro') CA6EST3 - Merida Centro
                option(value = 'Merida Montejo') ME7EST3 - Merida Montejo
                option(value = 'Merida Cabo Norte') MER8EST3 - Merida Cabo Norte
                option(value = 'Mérida Harbor') MER10EST3 - Mérida Harbor
                option(value = 'Cancun Tulum') CANEST3 - Cancun Tulum
                option(value = 'Cancun La Isla') ISLEST3 - Cancun La Isla
                option(value = 'Cancun Chichen ') CHIEST3 - Cancun Chichen 
                option(value = 'Cancun Gran Plaza') CGPEST3 - Cancun Gran Plaza
                option(value = 'Cancun Malecon') CU5EST3 - Cancun Malecon
                option(value = 'Playa del Carmen Centro Maya') PLAEST3 - Playa del Carmen Centro Maya
                option(value = 'Playa del Carmen Americas') PL2EST3 - Playa del Carmen Americas
                option(value = 'Chetumal Av Héroes') CHEEST3 - Chetumal Av Héroes
                option(value = 'Chetumal Av Rojo Gómez') CHE2EST3 - Chetumal Av Rojo Gómez
                option(value = 'Cozumel') COZEST3 - Cozumel
                option(value = 'Campeche Novia del Mar') CAMEST3 - Campeche Novia del Mar
                option(value = 'Campeche Galerias') CAM2EST3 - Campeche Galerias
                option(value = 'Cd del Carmen') CAREST3 - Cd del Carmen
                option(value = 'Cd Del Carmen II') CAR2EST3 - Campeche Ciudad Del Carmen II
                option(value = 'Villahermosa San Luis') LCLEST3 - Villahermosa San Luis
                option(value = 'Villahermosa Calinda') VSAEST3 - Villahermosa Calinda
                option(value = 'Villahermosa Americas') CA3EST3 - Villahermosa Americas
                option(value = 'Villahermosa Centro') CV4EST3 - Villahermosa Centro
                option(value = 'Villahermosa Altabrisa') CV5EST3 - Villahermosa Altabrisa
                option(value = 'Villahermsa Carrizal') VS6EST3 - Villahermsa Carrizal
                option(value = 'Villahermosa Sendero') SENEST3 - Villahermosa Sendero
                option(value = 'Villahermosa Galerías Express') RCA72ES3 - Villahermosa Galerías Express
                option(value = 'Cardenas') CCAEST3 - Cardenas
                option(value = 'Comalcalco') CCOEST3 - Comalcalco
                option(value = 'Tuxtla Las Palmas') TXGEST3 - Tuxtla Las Palmas
                option(value = 'Tuxtla Galerias') TUXEST3 - Tuxtla Galerias
                option(value = 'Tuxtla 5ta Norte') TU3EST3 - Tuxtla 5ta Norte
                option(value = 'Tuxtla Centro') TU4EST3 - Tuxtla Centro
                option(value = 'Palenque') PALEST3 - Palenque
                option(value = 'Tapachula Plaza Cristal') TAPEST3 - Tapachula Plaza Cristal
                option(value = 'Tapachula Centro') TA2EST3 - Tapachula Centro
                option(value = 'Tapachula Poniente') TA3EST3 - Tapachula Poniente
                option(value = 'San Cristobal San Ramon') SCCEST3 - San Cristobal San Ramon
                option(value = 'San Cristobal Juan Sabines') CSC22ES3 - San Cristobal Juan Sabines
                option(value = 'Comitan') COMEST3 - Comitan
                option(value = 'Ocosingo') OCOEST3 - Ocosingo
                
            label ENGANCHE:
            input#engancheagendainput.form-control.inputagendamodal(type="text", name="engancheagendainput", placeholder="2.5")
            .buttonsection
                button.btn.btn-default.btnmodal#submitmodalagenda(disabled) GUARDAR
                button.btn.btn-danger.btnmodal#close_modalagenda CANCELAR Y CERRAR

            