#modalrechazo(style='display:none')
    .headermodalrechazo
        p.titlemodal
            span 
                img(src='../assets/rejected.png' alt='icono rechazo') 
                span   RECHAZADO POR CLIENTE
        p ID 
            span#idrequestmodalrechazo --
    .bodymodal
        section.userdatamodal
            span#nombremodalrechazo -- 
            span#contactomodalrechazo --
        section.userdatamodal
            span SISACT: 
                span#sisactmodalrechazo --
            span CANAL: 
                span#canalmodalrechazo --
        section.actionmodal
            label MOTIVO DE RECHAZO: 
            textarea#textareamodalrechazo
            .buttonsection
                button.btn.btn-default.btnmodal#submitmodalrechazo(disabled) GUARDAR
                button.btn.btn-danger.btnmodal#close_modalrechazo CANCELAR Y CERRAR
                

            