section.maincontainer#bigbodyconnections(style='display: none;')
    section.tableconnections
        .sectiontitle
            p Asesores en línea

        .containertableconnections
            .boxtitle
                p Conexiones 
                    span#contadorconexionestabla --
                img#updateConnectionsNow(src='../assets/reload.png' alt='icon_reload')
            .bodytableconnections
                table.table.table-bordered2#table_connections
                    thead
                        tr
                            td Nombre
                            td Borradores
                            td Enviados
                            td Correcciones
                            td En espera
                            td Rechazada
                            td Aceptadas
                            td Aceptadas CC
                            td No finalizadas
                            td Activas
                    tbody#tbody_tableconnections
                        //tr
                            td  
                                img(src='../assets/connected.png' alt='icon_conexion') 
                                span   &nbsp;&nbsp;Eddie Jair Aguilar Sanchez
                            td 1
                            td 14
                            td 15
                            td(style="color: orange") 20
                            td 2
                            td 14
                            td 17
                            td 2
                            td 0