section.maincontainer#bigbodyrefered(style="display:none")
    section.tableconnections
        .sectiontitle
            p Referidos

        .containertableconnections
            .boxtitle
                p Referidos 

                    span#contadorreferidostabla --
                span#btn_download_referidos Descargar último mes 
                    img(src="/assets/download.png" style="height:15px")
            .bodytableconnections
                table.table.table-bordered2#table_referidos
                    thead
                        tr
                            td CREADO
                            td ASESOR
                            td NUMERO
                            td PROCEDENCIA
                            td TRAMITE
                            td OBSERVACIONES
                            td ESTATUS
                            td ACCION
                    tbody#tbody_tablereferidos

    
