section.maincontainer#bigbody
    //left side
    section.sides
        .sectiontitle
            p Estadísticas diarias
        
        //CONTADORES
        .containercounters
            .bigbox
                .boxtitle
                    p Capturas
                .bigboxbody
                    #capturasbbnumber 
                        p#bc_capturas 0
            
            .bigbox#bigboxgreen
                .boxtitle
                    p Activaciones
                .bigboxbody
                    #activacionesbbnumber
                        p#bc_activaciones 0
            .bigbox#bigboxred
                    .boxtitle
                        p Rechazos  
                    .bigboxbody
                        #rechazosbbnumber
                            p#bc_rechazos 0
        //ANALISTAS      
        .longrect
            .boxtitle
                p Analistas
            .longrectbody
                .longrectitem
                    .lr_number
                        p#lrana_pendientes 0
                    .lrlabel
                        p PENDIENTES
                .longrectitem
                    .lr_number
                        p#lrana_enespera 0
                    .lrlabel
                        p EN ESPERA
                    
                .longrectitem
                    .lr_number
                        p#lrana_aceptadas 0
                    .lrlabel
                        p ACEPTADAS
                .longrectitem
                    .lr_number
                        p#lrana_correcciones 0
                    .lrlabel
                        p CORRECCIONES
                
        //CERRADORES
        .longrect
            .boxtitle
                p Cerradores
            .longrectbody
                .longrectitem
                    .lr_number
                        p#lrcerr_concentrado 0
                    .lrlabel
                        p CONCENTRADO
                .longrectitem
                    .lr_number
                        p#lrcerr_aceptadas 0
                    .lrlabel
                        p DEL DIA
                    
                .longrectitem
                    .lr_number
                        p#lrcerr_agendadas 0
                    .lrlabel
                        p AGENDADAS
                .longrectitem
                    .lr_number
                        p#lrcerr_domicilio 0
                    .lrlabel
                        p DOMICILIO

        // Capturas por campaña del dia
        .sectiontitle
            p Capturas por campaña del dia
        .containermedbox_leftbottom
            .mediumbox
                .boxtitle
                    p Excelentes 
                .mediumboxbody
                    p#cdiarias_excelentes 0  
            .mediumbox
                .boxtitle
                    p Estrena 
                .mediumboxbody
                    p#cdiarias_estrena 0                 

        //  Activaciones por campaña del mes
        .sectiontitle
            p Activaciones por campaña del mes
        .containermedbox_leftbottom
            .mediumbox
                .boxtitle
                    p Excelentes 
                .mediumboxbody
                    p#numbers_excelentes 0  
            .mediumbox
                .boxtitle
                    p Estrena 
                .mediumboxbody
                    p#numbers_estrena 0 

        

    //right side -------------------------------------------------------
    section.sides
        .sectiontitle
            p Estadísticas globales  
        
        //GRAPH
        .graphsection  
            .boxtitle
                p Datos del mes
            .containermonthgraph    
                #highchart_main
            

        //TOPS TEN  
        .chartsectioncontainer
            .chartsection
                .boxtitle
                    p TOP ACTIVADORES
                .chartbody
                    table.table.table-condensed
                        thead#titlesblue
                            tr
                                td ASESOR
                                td ACTIVAS
                        tbody#tbody_topactivadores
                    
            .chartsection
                .boxtitle
                    p BAJA PARTICIPACION
                .chartbody
                    table.table.table-condensed
                        thead#titlesred
                            tr
                                td ASESOR
                                td CAPTURAS
                        tbody#tbody_topbajaparticipacion
        //CONTEOS DE MENSAJES
        .longrect
            .boxtitle
                p MENSAJES WHATSAPP
                span#descargarreportewa 
                    img(src="../assets/download.png" style="height:15px")
                    span  Descargar reporte
                    
            .longrectbody
                .longrectitem
                    .lr_number
                        p#wa_dia 0
                    .lrlabel
                        p NOTIFICACIONES DEL DIA
                .longrectitem
                    .lr_number
                        p#wa_mes 0
                    .lrlabel
                        p NOTIFICACIONES DEL MES
                .longrectitem
                    .lr_number
                        p#wa_proyeccion 0
                    .lrlabel
                        p PROYECCION DEL MES
                

    