section.maincontainer#bigbodycorrections(style='display: none;')
    section.tableconnections
        .sectiontitle
            p Capturas para corregir

        .containertableconnections
            .boxtitle
                p Correcciones 
                    span#contadorcorreccionestabla --
            .bodytableconnections
                table.table.table-bordered2#table_corrections
                    thead
                        tr
                            td CREADO
                            //td CAPTURADO
                            td CLIENTE
                            td VENDEDOR
                            td CAMPANA
                            td ASIGNADO
                            td STATUS
                    tbody#tbody_tablecorrections

    include dashboard_paneldetallesrequest
#overlay-back