<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet' href='../bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='../styles/dashboard.css')
        link(rel="stylesheet", href="../styles/animate.css")
        
        link(rel='icon' href='../assets/favicon.ico')
        //- var name = 'Eddie Aguilar Sanchez'
        title= "DASHBOARD | " + name
    body
      header
          .maincontainer
            #brand
                #logo
                    img(src="../assets/logo_exp.png", alt="Logotipo Explora Comunicaciones")
                    #brandname
                        p EXPLORA
                        p COMUNICACIONES
            
            #userlogout
                a(href="/logout") 
                    p= name + " | DASHBOARD"

      include dashboard_sectiondashboard.pug  
      include dashboard_sectionconnections.pug  
      include dashboard_sectioncorrections.pug            
      include dashboard_sectionrefered.pug
            
      footer
        .maincontainer
          .linksfooter
            span#linkfooterdashboard DASHBOARD   
            span  |
            //span#linkfooterconexiones   CONEXIONES
            //span   (
            //span#contadorconexioneslinkdashboard
            //span ) 
            //span  |
            span#linkfootercorrecciones  CORRECCIONES
            span   (
            span#contadorcorreccioneslinkdashboard
            span ) 
            span  |
            span#linkfooterreferidos  REFERIDOS
            span   (
            span#contadorreferidoslinktabla
            span ) 
            

            
      

      script(src='../jquery/dist/jquery.min.js')
      script(src='../javascripts/socket.io.js')
      script(src='../bootstrap/dist/js/bootstrap.min.js')
      script(src="../javascripts/highcharts/highcharts.js")
      script(src='../javascripts/moment.js')
      script(src="../javascripts/highcharts/modules/exporting.js")
      script(src="../javascripts/highcharts/modules/export-data.js")
      script(src="../javascripts/highcharts/js/themes/dark-unica.js")
      script(src='../javascripts/dashboard_helpers.js')
      script(src='../javascripts/dashboard_ajax.js')
      script(src='../javascripts/dashboard_render.js')
      
        
        
