.modaldeseguimiento_container(style='display:none')
    section#mseg_header
        .titulo_close
            div.tituloModal DETALLE DE CAPTURA
            div#domicilio_closebutton 
                img(src='../assets/close-button.png')
        .idfechacontainer
            .idfecha
                p ID:&nbsp;
                    span#mdom_id --
                p FECHA:&nbsp;
                    span#mdom_fecha
            .asesornombre
                p ASESOR:&nbsp;
                    span#asesorname --
    section#mseg_mainbody
        
        .mdom_titlesec
            p DATOS PARA ENTREGAR
        .mdom_datacontainer#mdom_entrega
            .item1_entrega
                label.label_grid CLIENTE
                div    
                    input.copytoclipboard#detalles_cliente(type='text' data-clipboard-target="#detalles_cliente")
            
            .item2_entrega
                label.label_grid NUMERO DE CONTACTO
                div    
                    input.copytoclipboard#detalles_contacto(type='text' data-clipboard-target="#detalles_contacto")

            .item3_entrega
                label.label_grid NUMERO A MIGRAR
                div    
                    input.copytoclipboard#detalles_numamigrar(type='text' data-clipboard-target="#detalles_numamigrar")

            .item4_entrega
                label.label_grid DESTINO
                div    
                    input.copytoclipboard#detalles_destino(type='text' data-clipboard-target="#detalles_destino")

            //.item5_entrega
                label.label_grid FECHA DE ENTREGA
                div    
                    input.copytoclipboard#detalles_fechaentrega.datetimepicker_notime(type='text' data-clipboard-target="#detalles_fechaentrega")

            //.item6_entrega
                label.label_grid HORA ENTREGA
                div    
                    input.copytoclipboard#detalles_horaentrega(type='text' data-clipboard-target="#detalles_horaentrega")

            .item7_entrega
                label.label_grid DIRECCION
                div    
                    input.copytoclipboard#detalles_direccion(type='text' data-clipboard-target="#detalles_direccion")

            .item8_entrega
                label.label_grid COLONIA/CP
                div    
                    input.copytoclipboard#detalles_colonia(type='text' data-clipboard-target="#detalles_colonia")

            .item9_entrega
                label.label_grid REFERENCIAS
                div    
                    input.copytoclipboard#detalles_referencias(type='text' data-clipboard-target="#detalles_referencias")

            .item9_entrega
                label.label_grid ENGANCHE
                div    
                    input.copytoclipboard#detalles_enganche(type='text' data-clipboard-target="#detalles_enganche")
        
        .mdom_titlesec
            p DATOS DEL TRAMITE
        .mdom_datacontainer#mdom_tramite
            .item1_tramite
                label.label_grid SISACT
                div    
                    input.copytoclipboard#detalles_sisact(type='text' data-clipboard-target="#detalles_sisact")
            
            //.item2_tramite
                label.label_grid CANAL
                div    
                    input.copytoclipboard#detalles_canal(type='text' data-clipboard-target="#detalles_canal")

            .item3_tramite
                label.label_grid PLAN
                div
                    select.dynamicselect#detalles_plan
                    //las opciones se obtienen por ajax 
                       

            .item4_tramite
                label.label_grid CLAVE
                p#detalles_clave(type='text' data-clipboard-target="#detalles_clave")

            .item5_tramite
                label.label_grid PLAZO
                p#detalles_plazo(type='text' data-clipboard-target="#detalles_plazo")

            .item6_tramite
                label.label_grid TIPO
                p#detalles_tipoplan(type='text' data-clipboard-target="#detalles_tipoplan")

            .item7_tramite
                label.label_grid TIPO DE ACTIVACION
                div    
                    select.dynamicselect#detalles_tipo
                        option(value='Contado') Contado
                        option(value='Financiado') Financiado
                        option(value='migracion') Migración
                        option(value='msr') MSR
                        option(value='lineanueva') Linea nueva

            .item8_tramite
                label.label_grid CUENTA A CONSOLIDAR
                div    
                    input.copytoclipboard#detalles_ctaconsolidar(type='text' data-clipboard-target="#detalles_ctaconsolidar")

            .item9_tramite
                label.label_grid EMAIL
                div    
                    input.copytoclipboard#detalles_email(type='text' data-clipboard-target="#detalles_email")
        
            .item10_tramite
                label.label_grid EQUIPO
                div    
                    input.copytoclipboard#detalles_equipo(type='text' data-clipboard-target="#detalles_equipo")
        
            .item11_tramite
                label.label_grid IMEI
                div    
                    input.copytoclipboard#detalles_imei(type='text' data-clipboard-target="#detalles_imei")

            .item12_tramite
                label.label_grid FINANCIAMIENTO
                div    
                    input.copytoclipboard#detalles_financiemiento(type='text' data-clipboard-target="#detalles_financiemiento")

            .item13_tramite
                label.label_grid CLIENTE PAGARA
                div    
                    input.copytoclipboard#detalles_pagara(type='text' data-clipboard-target="#detalles_pagara")

            .item14_tramite
                label.label_grid OBSERVACIONES
                div    
                    input.copytoclipboard#detalles_observaciones(type='text' data-clipboard-target="#detalles_observaciones")

            .item15_tramite
                label.label_grid FORMA DE PAGO
                div    
                    select.dynamicselect#detalles_formapago
                        option(value='Contado') Contado
                        option(value='Financiado') Financiado
                        option(value='Cargo a factura') Cargo a factura
        
        .mdom_titlesec
            p COMPLEMENTARIOS
        .mdom_datacontainer#mdom_complementarios
            .item1_complementarios
                label.label_grid FACTURA
                div    
                    input.copytoclipboard#detalles_factura(type='text' data-clipboard-target="#detalles_factura")

            .item2_complementarios
                label.label_grid ICCID
                div    
                    input.copytoclipboard#detalles_iccid(type='text' data-clipboard-target="#detalles_iccid")
        
            .item3_complementarios
                label.label_grid GUIA
                div    
                    input.copytoclipboard#detalles_guia(type='text' data-clipboard-target="#detalles_guia")
        
            .item4_complementarios
                label.label_grid PROVEEDOR
                div    
                    input.copytoclipboard#detalles_proveedor(type='text' data-clipboard-target="#detalles_proveedor")

            .item5_complementarios
                label.label_grid FECHA DE ACTIVACION
                div    
                    input.copytoclipboard#detalles_fechaactivacion.datetimepicker_notime(type='text' data-clipboard-target="#detalles_fechaactivacion")

            .item6_complementarios
                label.label_grid FECHA DE ENVIO
                div    
                    input.copytoclipboard#detalles_fechaenvio.datetimepicker_notime(type='text' data-clipboard-target="#detalles_fechaenvio")
                
            .item7_complementarios
                label.label_grid FECHA ENTREGADO
                div    
                    input.copytoclipboard#detalles_fechaentregado.datetimepicker_notime(type='text' data-clipboard-target="#detalles_fechaentregado")
    section#mseg_aestethic
    section#mseg_footer
        .observaciones_container
            p OBSERVACIONES ANALISTA:
            .comnt_container
                p#date_comnt --
                p#comnt_comnt --
        .status_container
            p ESTATUS
            select#mdom_status
                
                option(value='Cambio a sinergia') Cambio a sinergia
                option(value='Cancelada/Err.Asesor') Cancelada/Err.Asesor
                option(value='Cancelada/Err.Mensajeria') Cancelada/Err.Mensajeria
                option(value='Cancelada por cliente') Cancelada por cliente
                option(value='Cliente no contesta') Cliente no contesta
                option(value='Confirmado/Pend.Envío') Confirmado/Pend.Envío
                option(value='Equipo no disponible') Equipo no disponible
                option(value='Err.Asesor/Nombre erroneo') Err.Asesor/Nombre erroneo
                option(value='Err.Asesor/No tiene ID') Err.Asesor/No tiene ID
                option(value='Guia entregada') Guia entregada
                option(value='Guia enviada') Guia enviada
                option(value='No cuenta con pago') No cuenta con pago
                option(value='pendiente') pendiente
                option(value='Trámite incompleto') Trámite incompleto
                
                
                
        .actualizacion_container
            p OBSERVACIÓN
            textarea#observacionstatus(name="observacionstatus", cols="30", rows="10")
            .btncomnt_container
                button#btn_comnt Actualizar
