.tablesection#tab_tabla
    
    .tabletitles.shadow-border
        table.table.table-hover.table-condensed
            thead.shadow-border
                tr
                    td CREADO
                    td ASESOR
                    td CLIENTE
                    td TELEFONO
                    td GUIA
                    td ESTATUS
                    td OBSERVACIONES
                    
                    
            tbody#tbody_domicilio
                             