.modaldeexportacion_container(style="display: none")
    section#mseg_headerexport
        .titulo_close
            div.tituloModal EXPORTAR REPORTE
            div#domicilio_closebuttonexport
                img(src='../assets/close-button.png')
        
    section#mseg_mainbodyexport
        .mdom_titlesec
            p RANGO DE FECHAS
        .mdom_datacontainer.mdom_datacontainerexport
            .contform
                label.label_grid DE:
                div
                    input#fromdate.date_timepicker_start(type="text", name="fromdate" placeholder="Fecha inicial")
            .contform
                label.label_grid HASTA:
                div
                    input#tildate.date_timepicker_end(type="text", name="tildate" placeholder="Fecha final")
            //- .contform
            //-     button#btn_reportedomicilio GENERAR

            
    #mseg_aestethicexport
        
    #mseg_footerexport   
        .buttonexport_container
            button#btn_exporttable EXPORTAR