doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet' href='../bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='../styles/domicilio.css')
        link(rel="stylesheet", href="../styles/animate.css")
        link(rel="stylesheet", href="../styles/datetimepicker.css")
        link(rel="stylesheet", href="../styles/select2.css")
        link(rel="stylesheet", href="../datatables/datatables.css")
        link(rel='icon' href='../assets/favicon.ico')
        title= "TMK | " + name
    body(data-iduser=iduser)
        header
            .maincontainer
                    #brand
                        #logo
                            img(src="../assets/logo_exp.png", alt="Logotipo Explora Comunicaciones")
                            #brandname
                                p EXPLORA
                                p COMUNICACIONES
                    
                    #userlogout
                        a(href="/logout") 
                            p= name + " | ANALISTA ENTREGAS A DOMICILIO"
                            img(src="../assets/logoff.svg", alt="")
                            
        #statusbar
            .maincontainer  
                    #sectionname
                        p ANALISTA DE ENTREGAS A DOMICILIO  

                    div
                        button.custombtn#btn_exportaexcel EXPORTAR A EXCEL
                            
        
        #chartsbar
            .row_flex
                .buttonwithdata#tab_cambioasinergia(onclick="maintable('Cambio a sinergia'); styleThisTab('tab_cambioasinergia');")
                    span.numberdata#cambioasinergia 0
                    span.textdata Cambio a sinergia
                .buttonwithdata#tab_canceladaerrmensaria(onclick="maintable('Cancelada/Err.Mensajeria'); styleThisTab('tab_canceladaerrmensaria'); ")
                    span.numberdata#canceladaerrmensajeria 0
                    span.textdata Cancelada/Err.Mensajeria
                .buttonwithdata#tab_equiponodisponible(onclick="maintable('Equipo no disponible'); styleThisTab('tab_equiponodisponible'); ")
                    span.numberdata#equiponodisponible 0
                    span.textdata Equipo no disponible
                .buttonwithdata#tab_guiaentregada(onclick="maintable('Guia entregada'); styleThisTab('tab_guiaentregada'); ")
                    span.numberdata#guiaentregada 0
                    span.textdata Guia entregada
                .buttonwithdata#tab_pendiente.linktabactive(onclick="maintable('pendiente'); styleThisTab('tab_pendiente'); ")
                    span.numberdata#pendiente 0
                    span.textdata Pendiente
            .row_flex
                .buttonwithdata#tab_canceladaporcliente(onclick="maintable('Cancelada por cliente'); styleThisTab('tab_canceladaporcliente'); ")
                    span.numberdata#canceladaporcliente 0
                    span.textdata Cancelada por cliente
                .buttonwithdata#tab_clientenocontesta(onclick="maintable('Cliente no contesta'); styleThisTab('tab_clientenocontesta'); ")
                    span.numberdata#clientenocontesta 0
                    span.textdata Cliente no contesta
                .buttonwithdata#tab_errasesornombreerroneo(onclick="maintable('Err.Asesor/Nombre erroneo'); styleThisTab('tab_errasesornombreerroneo'); ")
                    span.numberdata#errasesornombreerroneo 0
                    span.textdata Err.Asesor/Nombre erroneo
                .buttonwithdata#tab_guiaenviada(onclick="maintable('Guia enviada'); styleThisTab('tab_guiaenviada'); ")
                    span.numberdata#guiaenviada 0
                    span.textdata Guia enviada
                .buttonwithdata#tab_tramiteincompleto(onclick="maintable('Trámite incompleto'); styleThisTab('tab_tramiteincompleto'); ")
                    span.numberdata#tramiteincompleto 0
                    span.textdata Trámite incompleto
            .row_flex
                .buttonwithdata#tab_canceladaerrasesor(onclick="maintable('Cancelada/Err.Asesor'); styleThisTab('tab_canceladaerrasesor'); ")
                    span.numberdata#canceladaerrasesor 0
                    span.textdata Cancelada/Err.Asesor
                .buttonwithdata#tab_confirmadopendenvio(onclick="maintable('Confirmado/Pend.Envío'); styleThisTab('tab_confirmadopendenvio'); ")
                    span.numberdata#confirmadopendenvio 0
                    span.textdata Confirmado/Pend.Envío
                .buttonwithdata#tab_errasesornotieneid(onclick="maintable('Err.Asesor/No tiene ID'); styleThisTab('tab_errasesornotieneid'); ")
                    span.numberdata#errasesornotieneid 0
                    span.textdata Err.Asesor/No tiene ID
                .buttonwithdata#tab_nocuentaconpago(onclick="maintable('No cuenta con pago'); styleThisTab('tab_nocuentaconpago'); ")
                    span.numberdata#nocuentaconpago 0
                    span.textdata No cuenta con pago
                .buttonwithdata#tab_todos(onclick="maintable('todos'); styleThisTab('tab_todos'); ")
                    span.numberdata#todos 0
                    span.textdata Todos
                               
                        

        #tablessection   
            .maincontainer
                include domicilio_secciones
            include domicilio_modaldeseguimiento
            include domicilio_modaldeexportacion
        #overlay-back
        
       
                

        
        
    
    script(src='../jquery/dist/jquery.min.js')
    script(src='../datatables/datatables.js')
    script(src='../javascripts/clipboard.min.js')
    script(src='../javascripts/socket.io.js')
    script(src='../bootstrap/dist/js/bootstrap.min.js')
    script(src='../javascripts/datetimepicker.js')
    script(src='../javascripts/select2.js')
    script(src='../javascripts/moment.js')
    script(src='../javascripts/domicilio_ajax.js')
    script(src='../javascripts/domicilio_tablas.js')
    script(src='../javascripts/domicilio_helper.js')
    


    
    
    
