//- modal
mixin modaldomicilio(title,id)
	.modal.fade(id=id,tabindex="-1",role="dialog",aria-labelledby=id+"Label" aria-hidden="true")
		.modal-dialog
			.modal-content
				.modal-header
					
					button.close#happyclosebutton2(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
						span.sr-only Close
					h4.modal-title(id=id+"Label") #{title + " ID - "}	
						span#id_solicitudomicilio 
					#resetall_domicilio
						p Borrar todo
					
				//Se cambia posicion de aqui hacia abajo 


				.modal-body
					.body_content#container_linktab2
						#datosparaentrega.linktab
							p DATOS PARA ENTREGA

						#datosdeltramite.linktab
							p DATOS DEL TRAMITE

						#confirmarprospecto.linktab
							p CONFIRMAR PROSPECTO
						
							
						
					
					.body_content#form-flexcontainer2
						#body-form2
							include modal_formulariodomicilio.pug
							//se incluye el codigo del body
							

					
				//no se toca nada -----------------------	
				.modal-footer
					
					button.btn.btn-default#botonguardardomicilio(type="button") 
						span
							img.modalfooterimg( src="../assets/guardar.svg" alt="enviar")
						span     Guardar y cerrar
					