#secciondatosentrega.form-container
    .form-title
        p DATOS DE LA ENTREGA
    .form-body
        
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="dom_folio")   Folio*
                input.form-control.input-sm#dom_folio.col-md-3(type="text", name="dom_folio" placeholder="0000")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")

        //form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="dom_canal") Canal*
                input.form-control.input-sm#dom_canal.col-md-3.mandatory2(type="text", name="dom_canal" placeholder="MDZXXXXXX")  
        form.form-inline  
            .col-md-4.col-xs-4 
            button#btn_domsearchdata.btn.btn-default.btn-sm(type='button') 
                span Llenar&nbsp;
                span.glyphicon.glyphicon-search  
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")

        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="dom_cliente")  1 - Cliente*
                input.form-control.input-sm#dom_cliente.col-md-3.mandatory2(type="text", name="dom_cliente" placeholder="Jon Doe")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
                
        //form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="dom_fechaentrega")  2 - Fecha de entrega*
                input.form-control.input-sm#dom_fechaentrega.col-md-3.mandatory2.datetimepicker_notime(type="text", name="dom_fechaentrega" placeholder="AAAA/MM/DD")
                
                
        //form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="dom_horarioentrega")  3 - Horario de entrega*
                input.form-control.input-sm.col-md-3#dom_horarioentrega.mandatory2(type="text", name="dom_horarioentrega" placeholder="10am a 6 pm")

        form.form-inline
            .form-group    
                label.col-md-4.col-xs-4(for="dom_contacto")  2 - Núm de contacto
                input.form-control.input-sm#dom_contacto.col-md-3(type="text", name="dom_contacto" placeholder="9999000000")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="dom_numamigrar")  3 - Núm a migrar*
                input.form-control.input-sm#dom_numamigrar.mandatory2(type="text", name="dom_numamigrar" placeholder="9999111111")  
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="dom_destino")  4 - Destino*
                input.form-control.input-sm#dom_destino.mandatory2(type="text", name="dom_destino" placeholder="Cozumel")  
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="dom_direccion")  5 - Dirección*
                input.form-control.input-sm#dom_direccion.mandatory2(type="text", name="dom_direccion" placeholder="25 Num 487 por 22 y 24")  
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="dom_colonia")  6 - Colonia/CP*
                input.form-control.input-sm#dom_colonia.mandatory2(type="text", name="dom_colonia" placeholder="Itzimna/97100")  
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="dom_referencias")  7 - Referencias domicilio*
                input.form-control.input-sm#dom_referencias.mandatory2(type="text", name="dom_referencias" placeholder="Color blanca dos pisos")  
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")

    #recordatorio.well
        #recordatorio_titulo 
            img(src="../assets/alert.png")
            span &nbsp;RECORDATORIO&nbsp;
            img(src="../assets/alert.png")
        p - Mensajería contacta al cliente para hacer cita
        p - Recordar ID original y copia
        p - Pagos de requerir