#secciondatosdelplan.form-container(style="display: none")
    .form-title
        p DATOS DEL PLAN
    .form-body

        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="campana")  1 - Campaña*
                select.form-control.input-sm.mandatory.dynamicselect3#selectcampana(name="campana")
                    option
                    option(value='CLIENTES EXCELENTES') CLIENTES EXCELENTES
                    option(value='CE - CE TELESPOT') CE - CE TELESPOT
                    option(value='CE - TELMEX') CE - TELMEX
                    option(value='CE - TC') CE - TC
                    option(value='CE - ZEEK') CE - ZEEK
                    option(value='CE - ALTA PRIORIDAD CE') CE - ALTA PRIORIDAD CE
                    option(value='CE - REFERIDOS') CE - REFERIDOS
                    option(value='ESTRENA') ESTRENA
                    option(value='ESTRENA - PA200') ESTRENA - PA200
                    option(value='ESTRENA - LIDERES') ESTRENA - LIDERES
                    option(value='ESTRENA - FIDELI') ESTRENA - FIDELI
                    option(value='ESTRENA - DEUR') ESTRENA - DEUR
                    option(value='ESTRENA - DEUR2') ESTRENA - DEUR2
                    option(value='ESTRENA - ESTRENA TELESPOT') ESTRENA - ESTRENA TELESPOT
                    option(value='ESTRENA - ALTA PRIORIDAD ESTRENA') ESTRENA - ALTA PRIORIDAD ESTRENA
                    option(value='ESTRENA - REFERIDOS') ESTRENA - REFERIDOS
                    option(value='MSR') MSR
                    option(value='MSR - PA200') MSR - PA200
                    option(value='MSR - LIDERES') MSR - LIDERES
                    option(value='MSR - FIDELIZACION') MSR - FIDELIZACION
                    option(value='MSR - DEUR') MSR - DEUR
                    option(value='MSR - DEUR2') MSR - DEUR2
                    option(value='MSR - MSR TELESPOT') MSR - MSR TELESPOT
                    option(value='MSR - ALTA PRIORIDAD MSR') MSR - ALTA PRIORIDAD MSR
                    option(value='MSR - REFERIDOS') MSR - REFERIDOS
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group.mandatory
                label.col-md-4.col-xs-4(for="tipoactivacion") 2 - Tipo de activación*
                label
                    input#activacioninmediata(type="radio", name="tipoactivacion" value="Inmediata")
                    .box
                        span Inmediata
                label        
                    input#activaciondiferida(type="radio", name="tipoactivacion" value="Diferida") 
                    .box
                        span Diferida
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="procedencia") 3 - Procedencia
                label
                    input#procedenciaaheeva(type="radio", name="procedencia" value="Aheeva")
                    .box
                        span Aheeva
                label        
                    input#procedenciacientoonce(type="radio", name="procedencia" value="111") 
                    .box
                        span *111
                label        
                    input#procedencianekotec(type="radio", name="procedencia" value="Nekotec") 
                    .box
                        span Nekotec
        form.form-inline
            .form-group.mandatory
                label.col-md-4.col-xs-4(for="tipodelinea") 4 - Número por asignar*
                label
                    input#numeromigracion(type="radio", name="tipodelinea" value="migracion")
                    .box
                        span Migración
                label        
                    input#numerolineanueva(type="radio", name="tipodelinea" value="lineanueva") 
                    .box
                        span Línea nueva
                label        
                    input#numeromsr(type="radio", name="tipodelinea" value="msr") 
                    .box
                        span MSR
        form.form-inline(id="condnumamigrar" style="display:none")
            .form-group
                label.col-md-4.col-xs-4(for="numamigrar")  - Número a migrar*
                input.form-control.input-sm#numeroamigrar(type="text", name="numamigrar" placeholder="9999000000")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="refacta")  5 - Referencia a cuenta*
                input.form-control.input-sm#referenciaacuenta.mandatory(type="text", name="refacta" placeholder="86860000")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="canal")  6 - Canal*
                input.form-control.input-sm#canal.mandatory(type="text", name="canal" placeholder="GPZCD123")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")

        //-campo condicional al no ser ingresada la fuerza de ventas de envio a domicilio
        form.form-inline#showhide_minutoEAD
            .form-group
                label.col-md-4.col-xs-4(for="minutoEAD")  * - Minuto ofrecimiento EAD
                input.form-control.input-sm#minutoEAD.mandatory(type="text", name="minutoEAD" placeholder="04:15")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        //- fin del campo condicional al no ser ingresada la fuerza de ventas de envio a domicilio

        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="plan")  7 - Plan*
                select.form-control.input-sm.mandatory.dynamicselect#selectplan(name="plan")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")

                label#clavedeplan.labelplan Clave:
                label#plazodeplan.labelplan Plazo:
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="equipo")  8 - Equipo*
                input.form-control.input-sm#equipo.mandatory(type="text", name="equipo" placeholder="SM-G900F Samsung Galaxy S5")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="costoamigo")  9 - Costo amigo equipo*
                span.input-group 
                    span.input-group-addon $
                    input.form-control.input-sm#costoamigo.mandatory(type="text", name="costoamigo" placeholder="3500.00")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="pagoinicial")  10 - Pago inicial*
                span.input-group
                    span.input-group-addon $
                    input.form-control.input-sm#pagoinicial.mandatory(type="text", name="pagoinicial" placeholder="3500.00")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
