#seccionconfirmarprospecto.form-container(style="display: none")
    .form-title
        p CONFIRMAR PROSPECTO
    .form-body.body_containerform
        
        #containerconfirmardatos2
            .confr1c1 
                

                p.headertitle DATOS PARA ENTREGA
                p Folio: 
                    span#conf_dom_folio
                //p Canal: 
                    span#conf_dom_canal
                p Cliente: 
                    span#conf_dom_cliente
                //p Fecha de entrega: 
                    span#conf_dom_fechaentrega
                //p Horario de entrega: 
                    span#conf_dom_horarioentrega
                p Núm de contacto: 
                    span#conf_dom_contacto    
                p Núm a migrar: 
                    span#conf_dom_numamigrar
                p Destino: 
                    span#conf_dom_destino

                p Dirección: 
                    span#conf_dom_direccion    
                p Colonia/CP: 
                    span#conf_dom_colonia
                p Referencias domicilio: 
                    span#conf_dom_referencias
            .confr1c2 

                p.headertitle DATOS DEL TRAMITE
                
                p Plan renta vendido: 
                    span#conf_dom_plan
                p Clave: 
                    span#conf_dom_claveplan 
                p Plazo: 
                    span#conf_dom_plazoplan
                p Tipo de activación: 
                    span#conf_dom_tipoactivacion
                p Cta a consolidar: 
                    span#conf_dom_ctaconsolidar
                p Email: 
                    span#conf_dom_email
                p Financiamiento: 
                    span#conf_dom_financiamiento
                p Enganche: 
                    span#conf_dom_enganche
                p Equipo: 
                    span#conf_dom_equipo
                p Serie IMEI: 
                    span#conf_dom_imei
                p ¿Qué pagará el cliente al recibir el contrato?: 
                    span#conf_dom_concepto
                
            
            



        #containerobservaciones2        
            p Observaciones adicionales:
            form.form-inline
                .form-group
                    input.form-control.input-sm#observacionesadicionales2(type="textarea", name="observacionesadicionales2" placeholder="...")
            
            //p#generarcomentario(data-clipboard-text="texto de prueba") Generar y copiar comentario al portapapeles