#secciondatospersonales.form-container(style="display: none")
    .form-title
        p DATOS PERSONALES
    .form-body
        form.form-inline
            .form-group.mandatory
                label.col-md-4.col-xs-4(for="sexo") Sexo*
                label
                    input#sexohombre(type="radio", name="sexo" value="Hombre")
                    
                    .box
                        span Hombre
                label        
                    input#sexomujer(type="radio", name="sexo" value="Mujer") 
                    
                    .box
                        span Mujer
        
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="apellidos") Apellidos*
                input.form-control.input-sm#apellidos.mandatory.neededfordraw(type="text", name="apellidos" placeholder="Orilla Cervera")
                //img.questionmark(src="../assets/question.png", alt="questionmark")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="nombres") Nombres*
                input.form-control.input-sm#nombres.mandatory.neededfordraw(type="text", name="nombres" placeholder="Pedro Jose")
                //img.questionmark(src="../assets/question.png", alt="questionmark")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="numcliente") Número del cliente*
                input.form-control.input-sm#numerodelcliente.mandatory.neededfordraw(type="text", name="numcliente" placeholder="9999000000")
                //img.questionmark(src="../assets/question.png", alt="questionmark")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="fechadenacimiento") Fecha de nacimiento*
                input.datetimepicker_notime.form-control.input-sm#fechadenacimiento.mandatory(type="text", name="fechadenacimiento" placeholder="dia/mes/año - 31/12/1992")
                //img.questionmark(src="../assets/question.png", alt="questionmark")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="email") Email*
                input.form-control.input-sm#email.mandatory(type="text", name="email" placeholder="mail@dominio.com")
                //img.questionmark(src="../assets/question.png", alt="questionmark")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="rfc") RFC*
                input.form-control.input-sm#rfc.mandatory(type="text", name="rfc" placeholder="ause850208pq8")
                //img.questionmark(src="../assets/question.png", alt="questionmark")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")

        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="curp") CURP*
                input.form-control.input-sm#curp.mandatory(type="text", name="curp" placeholder="asat850208hyngnd08")
                //img.questionmark(src="../assets/question.png", alt="questionmark")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
    .well.msginmodal 
        span 
            img.questionmark(src="../assets/alert.png", alt="alertmark")
        p Para guardar como borrador es necesario como mínimo: Apellidos, Nombres y Número del cliente.            
                
        

