#secciondomiciliocliente.form-container(style="display: none;")
    .form-title
        p DOMICILIO CLIENTE
    .form-body
        
        
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="estado")  1 - Estado*
                input.form-control.input-sm#estado.col-md-3.mandatory(type="text", name="estado" placeholder="Yucatán")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="ciudad")  2 - Ciudad*
                input.form-control.input-sm#ciudad.col-md-3.mandatory(type="text", name="ciudad" placeholder="Mérida")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="callecliente") 3 - Calle*
                input.form-control.input-sm#callecliente.col-md-3.mandatory(type="text", name="callecliente" placeholder="27")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="numexterior")  4 - Núm exterior*
                input.form-control.input-sm#numexterior.col-md-3.mandatory(type="text", name="numexterior" placeholder="108")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline  
            .form-group
                label.col-md-4.col-xs-4(for="numinterior")  5 - Núm interior
                input.form-control.input-sm#numinterior.col-md-3(type="text", name="numinterior" placeholder="205")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="cruzamientos")  6 - Cruzamientos*
                input.form-control.input-sm#cruzamientos.mandatory(type="text", name="cruzamientos" placeholder="15 y 17")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="colonia")  7 - Colonia*
                input.form-control.input-sm#colonia.mandatory(type="text", name="colonia" placeholder="Centro")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="codigopostal")  8 - Código postal*
                input.form-control.input-sm#codigopostal.mandatory(type="text", name="codigopostal" placeholder="97100")        
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="referencias")  9 - Referencias*
                input.form-control.input-sm#referencias.mandatory(type="textarea", name="referencias" placeholder="Casa de 2 pisos, rejas blancas")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="numcelularofijo")  10 - Núm celular o fijo*
                input.form-control.input-sm#numcelularofijo.mandatory(type="text", name="numcelularofijo" placeholder="9999000000")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="horariovisita")  11 - Horario de visita*
                input.form-control.input-sm#horariovisita.mandatory(type="text", name="horariovisita" placeholder="Despues de las 5pm")        
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")

                
        

