#seccionreferencias.form-container(style="display: none")
    .form-title
        p REFERENCIAS
    .form-body
        
        .row        
            form.form.col-md-6.col-xs-6
                p.titulo_referenciaform Referencia 1
                .form-group
                    label.col-md-4.col-xs-4(for="nombresref1")  Nombre*
                    input.form-control.input-sm#nombresref1.col-md-3.mandatory(type="text", name="nombresref1" placeholder="José")
                    span.successimage(style='display: none') 
                        img(src="../assets/success.png")
                    span.errorimage(style='display: none') 
                        img(src="../assets/error.png")
                .form-group
                    label.col-md-4.col-xs-4(for="apellidosref1")  Apellidos*
                    input.form-control.input-sm#apellidosref1.col-md-3.mandatory(type="text", name="apellidosref1" placeholder="Dominguez")
                    span.successimage(style='display: none') 
                        img(src="../assets/success.png")
                    span.errorimage(style='display: none') 
                        img(src="../assets/error.png")
                .form-group    
                    label.col-md-4.col-xs-4(for="telref1")  Tel.*
                    input.form-control.input-sm#telref1.col-md-3.mandatory(type="text", name="telref1" placeholder="9999000000")
                    span.successimage(style='display: none') 
                        img(src="../assets/success.png")
                    span.errorimage(style='display: none') 
                        img(src="../assets/error.png")
                .form-group
                    label.col-md-4.col-xs-4(for="horarioref1")  Horario*
                    input.form-control.input-sm#horarioref1.col-md-3.mandatory(type="text", name="horarioref1" placeholder="Despues de las 5pm")
                    span.successimage(style='display: none') 
                        img(src="../assets/success.png")
                    span.errorimage(style='display: none') 
                        img(src="../assets/error.png")
            form.form.col-md-6.col-xs-6
                p.titulo_referenciaform Referencia 2
                .form-group
                    label.col-md-4.col-xs-4(for="nombresref2")  Nombre*
                    input.form-control.input-sm#nombresref2.col-md-3.mandatory(type="text", name="nombresref2" placeholder="José")
                    span.successimage(style='display: none') 
                        img(src="../assets/success.png")
                    span.errorimage(style='display: none') 
                        img(src="../assets/error.png")
                .form-group
                    label.col-md-4.col-xs-4(for="apellidosref2")  Apellidos*
                    input.form-control.input-sm#apellidosref2.col-md-3.mandatory(type="text", name="apellidosref2" placeholder="Dominguez")
                    span.successimage(style='display: none') 
                        img(src="../assets/success.png")
                    span.errorimage(style='display: none') 
                        img(src="../assets/error.png")
                .form-group
                    label.col-md-4.col-xs-4(for="telref2")  Tel.*
                    input.form-control.input-sm#telref2.col-md-3.mandatory(type="text", name="telref2" placeholder="9999000000")
                    span.successimage(style='display: none') 
                        img(src="../assets/success.png")
                    span.errorimage(style='display: none') 
                        img(src="../assets/error.png")
                .form-group
                    label.col-md-4.col-xs-4(for="horarioref2")  Horario*
                    input.form-control.input-sm#horarioref2.col-md-3.mandatory(type="text", name="horarioref2" placeholder="Despues de las 5pm")
                    span.successimage(style='display: none') 
                        img(src="../assets/success.png")
                    span.errorimage(style='display: none') 
                        img(src="../assets/error.png")
        .row#secondrow_referencias
            form.form.col-md-6.col-xs-6
                p.titulo_referenciaform Referencia 3
                .form-group
                    label.col-md-4.col-xs-4(for="nombresref3")  Nombre*
                    input.form-control.input-sm#nombresref3.col-md-3.mandatory(type="text", name="nombresref3" placeholder="José")
                    span.successimage(style='display: none') 
                        img(src="../assets/success.png")
                    span.errorimage(style='display: none') 
                        img(src="../assets/error.png")
                .form-group
                    label.col-md-4.col-xs-4(for="apellidosref3")  Apellidos*
                    input.form-control.input-sm#apellidosref3.col-md-3.mandatory(type="text", name="apellidosref3" placeholder="Dominguez")
                    span.successimage(style='display: none') 
                        img(src="../assets/success.png")
                    span.errorimage(style='display: none') 
                        img(src="../assets/error.png")
                .form-group
                    label.col-md-4.col-xs-4(for="telref3")  Tel.*
                    input.form-control.input-sm#telref3.col-md-3.mandatory(type="text", name="telref3" placeholder="9999000000")
                    span.successimage(style='display: none') 
                        img(src="../assets/success.png")
                    span.errorimage(style='display: none') 
                        img(src="../assets/error.png")
                .form-group
                    label.col-md-4.col-xs-4(for="horarioref3")  Horario*
                    input.form-control.input-sm#horarioref3.col-md-3.mandatory(type="text", name="horarioref3" placeholder="Despues de las 5pm")
                    span.successimage(style='display: none') 
                        img(src="../assets/success.png")
                    span.errorimage(style='display: none') 
                        img(src="../assets/error.png")