//- modal
mixin modal(title,id)
	.modal.fade(id=id,tabindex="-1",role="dialog",aria-labelledby=id+"Label" aria-hidden="true" data-backdrop="static" data-keyboard="false")
		.modal-dialog
			.modal-content
				.modal-header
					button.close#happyclosebutton(type="button" data-placement="left" data-toggle="popover" title="Se perderán cambios no guardados" data-content="<button id='clearandclose' onclick='resetfields();' class='btn btn-danger' data-dismiss='modal'>Confirmar y cerrar captura</button>")
						span(aria-hidden="true") &times;
						span.sr-only Close
					h4.modal-title(id=id+"Label") #{title + " ID - "}	
						span#id_registrodb 
					
				//Se cambia posicion de aqui hacia abajo 


				.modal-body
					.body_content#container_linktab
						#datospersonales.linktab
							
							p DATOS PERSONALES
						#datosdelplan.linktab
							
							p DATOS DEL PLAN
						#domiciliocliente.linktab
							
							p DOMICILIO CLIENTE
						#datoslaborales.linktab
							
							p DATOS LABORALES
						#referenciasbtn.linktab
							
							p REFERENCIAS
						#confirmarcaptura.linktab
							
							p CONFIRMAR CAPTURA
					
					.body_content#form-flexcontainer
						#body-form
							include modal-formulario.pug

					
				//no se toca nada -----------------------	
				.modal-footer
					button.btn.btn-default#botonborradormodal(type="button") 
						span
							img.modalfooterimg(src="../assets/borrador.svg" alt="borrador" )
						span#btn-borrador      Guardar borrador
					button.btn.btn-default#botonguardarmodal(data-dismiss='modal' type="button") 
						span
							img.modalfooterimg( src="../assets/guardar.svg" alt="enviar")
						span     Guardar y cerrar
					button.btn.btn-default#botoncorreccionmodal(data-dismiss='modal' type="button" style='display: none')
						span
							img.modalfooterimg( src="../assets/corregir.svg" alt="corregir")
						span      Enviar corrección
							