#secciondatostramite.form-container(style="display: none")
    .form-title
        p DATOS DEL TRAMITE
    .form-body
        
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="dom_plan")  1 - Plan renta vendido*
                select.form-control.input-sm#dom_plan.col-md-3.mandatory2.dynamicselect2(type="text", name="dom_plan" placeholder="")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4
                label#clavedeplan2.labelplandom.col-md-3.col-xs-4 CLAVE:
                label#plazodeplan2.labelplandom.col-md-3.col-xs-4 PLAZO:
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        br        
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="dom_tipoactivacion")  2 - Tipo de activación*
                select#dom_tipoactivacion.form-control.input-sm.col-md-3.mandatory2( name="dom_tipoactivacion")
                    option(value="default" disabled selected) Seleccione una opción
                    option(value="lineanueva") Linea nueva
                    option(value="migracion") Migración
                    option(value="msr") MSR
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group    
                label.col-md-4.col-xs-4(for="dom_ctaconsolidar")  3 - Cta a consolidar
                input.form-control.input-sm#dom_ctaconsolidar.col-md-3(type="text", name="dom_ctaconsolidar" placeholder="81324816")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="dom_email")  4 - Email*
                input.form-control.input-sm#dom_email.mandatory2(type="text", name="dom_email" placeholder="mail@mail.com")  
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="dom_financiamiento")  5 - Financiamiento*
                input.form-control.input-sm#dom_financiamiento.mandatory2(type="text", name="dom_financiamiento" placeholder="2500.00") 
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="dom_enganche")  6 - Enganche*
                input.form-control.input-sm#dom_enganche.mandatory2(type="text", name="dom_enganche" placeholder="1500.00") 
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="dom_equipo")  7 - Equipo*
                input.form-control.input-sm#dom_equipo.mandatory2(type="text", name="dom_equipo" placeholder="iPhone xs 64gb spacegray") 
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")

        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="dom_imei")  8 - Serie IMEI*
                input.form-control.input-sm#dom_imei.mandatory2(type="text", name="dom_imei" placeholder="356938035643809") 
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="dom_concepto")  9 - ¿Que pagara el cliente al recibir el contrato?*
                input.form-control.input-sm#dom_concepto.mandatory2(type="text", name="dom_concepto" placeholder="1 RENTA ($199)")  
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")