#secciondatoslaborales.form-container(style="display: none")
    .form-title
        p DATOS LABORALES
    .form-body
        
        
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="nombreempresa")  1 - Nombre de la empresa*
                input.form-control.input-sm#nombreempresa.col-md-3.mandatory(type="text", name="nombreempresa" placeholder="Teléfonos de México")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
                
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="cargo")  2 - Cargo*
                input.form-control.input-sm#cargo.col-md-3.mandatory(type="text", name="cargo" placeholder="Ejecutivo")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
                
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="celofijolaboral")  3 - Núm celular o fijo*
                input.form-control.input-sm#celofijolaboral.col-md-3.mandatory(type="text", name="celofijolaboral" placeholder="9999000000")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group    
                label.col-md-4.col-xs-4(for="extensionlaboral")  4 - Extensión
                input.form-control.input-sm#extensionlaboral.col-md-3(type="text", name="extensionlaboral" placeholder="357")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")
        form.form-inline
            .form-group
                label.col-md-4.col-xs-4(for="horariovisitalaboral")  5 - Horario de visita*
                input.form-control.input-sm#horariovisitalaboral.mandatory(type="text", name="horariovisitalaboral" placeholder="Despues de las 5pm")
                span.successimage(style='display: none') 
                    img(src="../assets/success.png")
                span.errorimage(style='display: none') 
                    img(src="../assets/error.png")