#seccionconfirmarcaptura.form-container(data-user= iduser)
    .form-title
        p CONFIRMAR CAPTURA
    .form-body.body_containerform
        
        #containerconfirmardatos
            .confr1c1 
                

                p.headertitle Datos personales
                p Sexo: 
                    span#conf_sexo
                p Nombre: 
                    span#conf_nombresapellidos
                p Fecha de nacimiento: 
                    span#conf_fechadenacimiento
                p Núm cliente: 
                    span#conf_numcliente    
                p Email: 
                    span#conf_email
                p RFC: 
                    span#conf_rfc
                p CURP: 
                    span#conf_curp
            .confr1c2 

                p.headertitle Datos del plan
                p Campaña: 
                    span#conf_campanacaptura
                p Tipo: 
                    span#conf_tipoactivacion
                p Procedencia: 
                    span#conf_procedencia
                p Migrar núm: 
                    span#conf_numamigrar
                p Ref. a cta: 
                    span#conf_refacta 
                p Canal: 
                    span#conf_canal
                p Plan: 
                    span#conf_plan
                p Clave plan: 
                    span#conf_claveplan
                p Equipo: 
                    span#conf_equipo
                p Pago inicial: 
                    span#conf_pagoinicial
                p Costo amigo: 
                    span#conf_costoamigo
                
            .confr1c3 
                p.headertitle Domicilio
                p Ciudad, Edo: 
                    span#conf_ciudadestado
                p Calle: 
                    span#conf_callecliente
                p Núm exterior: 
                    span#conf_numexterior
                p Núm interior: 
                    span#conf_numinterior
                p Cruzamientos: 
                    span#conf_cruzamientos
                p Colonia: 
                    span#conf_colonia
                p Código postal: 
                    span#conf_codigopostal
                p Celular o fijo: 
                    span#conf_numcelularofijo
                p Horario visita: 
                    span#conf_horariovisita
                p Referencias: 
                    span#conf_referencias

            .confr2c1 
                p.headertitle Datos laborales
                p Cargo: 
                    span#conf_cargo
                p Empresa: 
                    span#conf_nombreempresa
                p Celular o fijo: 
                    span#conf_celofijolaboral
                p Ext: 
                    span#conf_extensionlaboral
                p Horario visita: 
                    span#conf_horariovisitalaboral

            .confr2c2 
                p.headertitle Referencias
                p Ref1: 
                    span#conf_referencia1
                p Ref2: 
                    span#conf_referencia2
                p Ref3: 
                    span#conf_referencia3


        #containerobservaciones        
            p Observaciones adicionales:
            form.form-inline
                .form-group
                    input.form-control.input-sm#observacionesadicionales(type="textarea", name="observacionesadicionales" placeholder="...")
            
            //p#generarcomentario(data-clipboard-text="texto de prueba") Generar y copiar comentario al portapapeles