#modalreasignar(style='display:none')
    .headermodalreasignar
        p.titlemodal
            span 
                img(src='../assets/transferwhite.png' alt='icono reasignar') 
                span   REASIGNAR CAPTURA
        p ID 
            span#idrequestmodalreasignar --
    .bodymodal
        section.userdatamodal
            span#nombremodalreasignar -- 
            span#propietariomodalreasignar --
        section.userdatamodal
            span SISACT: 
                span#sisactmodalreasignar --
            span CANAL: 
                span#canalmodalreasignar --
        section.actionmodal
            label Asignar a: 
            select.form-control#selectmodalreasignar(name="selectmodalreasignar")
            .buttonsection
                button.btn.btn-default.btnmodal#submitmodalreasignar(disabled) GUARDAR
                button.btn.btn-danger.btnmodal#close_modalreasignar CANCELAR Y CERRAR

            