.statusbar#statusbarconfig(style='display:none')
    .maincontainer  
        .sectionname
            p CONFIGURACIONES  
        

.content_section#contentsectionconfig(style='display:none')
    .maincontainer.shadow-border
        .contentpanel
            .contentleftpanel
                ul.ulmenu
                    li.limenu#listener_capturas  
                        img(class="icon_limenu" src="../assets/capturas.png", alt="capturas")
                        span CAPTURAS
                    li.limenu#listener_planes  
                        img(class="icon_limenu" src="../assets/planes.png", alt="planes")
                        span PLANES
                    li.limenu#listener_reportes 
                        img(class="icon_limenu" src="../assets/reportes.png", alt="reportes") 
                        span REPORTE GENERAL
                    li.limenu#listener_reportes_telmex
                        img(class="icon_limenu" src="../assets/reportes.png", alt="reportes") 
                        span REPORTE TELMEX
                    
                    

            .contentrightpanel
                //contenido dinamico dependiendo del click al panel lateral
                #contentcapturas.allcontentrightpanel
                    .titlecontent
                        p CAPTURAS
                    .itemscontent
                        #busquedacapturas
                            label Buscar:
                            input#buscacaptura(type="text", name="buscacaptura")
                        #formulariofiltro
                            .leftminicontainer
                                .minicontainerform.form-group-sm
                                    label De:
                                    input#fechainicio.form-control.datetimepicker(type="text", name="fechainicio")
                                
                                .minicontainerform.form-group-sm
                                    label Hasta:
                                    input#fechafinal.form-control.datetimepicker(type="text", name="fechafinal")
                            .minicontainerform.form-group-sm
                                label Status:
                                select#statuscapturaselect.form-control(name="statuscapturaselect")
                                    option(value="default" disabled) Seleccionar estatus
                                    option(value="borrador") Borrador
                                    option(value="no finalizada") No finalizada
                                    option(value="activa") Activa
                                    option(value="en espera") En espera
                                    option(value="aceptadacc") Aceptadacc
                                    option(value="rechazada") Rechazada
                                    option(value="corregir") corregir
                                    option(value="enviado") enviado
                                    option(value="aceptada") aceptada
                            button(type="button").btn.btn-default#btn_search Buscar
                        #tabladedatos
                            .tableheader.shadow-border
                                p CONCENTRADO DE CAPTURAS
                            .tabletitles.shadow-border
                                table.table.table-hover.table-condensed
                                    thead.shadow-border
                                        tr
                                            td CREADO
                                            td CLIENTE
                                            td VENDEDOR
                                            td SISACT
                                            td CANAL
                                            td STATUS
                                                 
                                    tbody#tbody_capturasglobal
                include supervisor_modalreasignar.pug  
                         
                                    

                #contentplanes.allcontentrightpanel(style='display:none') 
                    .titlecontent
                        p PLANES
                    .itemscontent
                        #busquedaplanes
                            label Buscar:
                            input#buscaplanes(type="text", name="buscaplanes")
                        #formulariofiltroplanes
                            //.leftminicontainer
                            .minicontainerform.form-group-sm
                                label Nombre:
                                input#nombreplan.form-control(type="text", name="nombreplan")
                            .minicontainerform.form-group-sm
                                label Clave:
                                input#claveplan.form-control(type="text", name="claveplan")
                            .minicontainerform.form-group-sm
                                label Plazo:
                                input#plazoplan.form-control(type="text", name="plazoplan")
                            .minicontainerform.form-group-sm
                                label Status:
                                select#statusplanselect.form-control(name="statusplanesselect")
                                    option(value="default" disabled) Seleccionar estatus
                                    option(value="1") Activo
                                    option(value="0") Baja
                            button(type="button").btn.btn-default.btn-xs#btn_saveplan Agregar plan
                        #tabladeplanes
                            .tableheader.shadow-border
                                p HISTORICO DE PLANES
                            .tabletitles.shadow-border
                                table.table.table-hover.table-condensed
                                    thead.shadow-border
                                        tr
                                            td NOMBRE
                                            td CLAVE
                                            td PLAZO
                                            td RENTA
                                            td STATUS
                                    tbody#tbody_listaplanes
                                    
                             
                                   
                #contentreportes.allcontentrightpanel(style='display:none') 
                    .titlecontent
                        p REPORTE GENERAL
                    .itemscontent
                        #formulariofiltroreporte
                            .leftminicontainer
                                .minicontainerform.form-group-sm
                                    label Desde:
                                    input#fechainicioreporte.form-control.datetimepickerreporte(type="text", name="fechainicioreporte")
                                .minicontainerform.form-group-sm
                                    label Hasta:
                                    input#fechafinalreporte.form-control.datetimepickerreporte(type="text", name="fechafinalreporte")
                                button(type="button").btn.btn-default.btn-xs#btn_exportar Descargar
                    .tablecontentreportes

                #reportetelmex.allcontentrightpanel(style='display:none') 
                    .titlecontent
                        p REPORTE TELMEX
                    .itemscontent
                        #formulariofiltroreporte_telmex
                            .leftminicontainer
                                .minicontainerform.form-group-sm
                                    label Desde:
                                    input#fechainicioreporte_telmex.form-control.datetimepickerreporte(type="text", name="fechainicioreporte")
                                .minicontainerform.form-group-sm
                                    label Hasta:
                                    input#fechafinalreporte_telmex.form-control.datetimepickerreporte(type="text", name="fechafinalreporte")
                                br
                                br
                                button(type="button").btn.btn-default.btn-xs#btn_exportar_activaciones Descargar capturas
                                button(type="button").btn.btn-default.btn-xs#btn_exportar_portabilidad Descargar portabilidad
                    
                        
                        
                                           
                