.statusbar#statusbartablaasesores(style='display:none')
    .maincontainer  
        .sectionname
            p USUARIOS  
        #buttonsection
            button.btn.btn-default.btn-capturas#nuevousuariobtn Nuevo usuario

.content_section#containersectiontablaasesores(style='display:none')
    #formulariodebusqueda
        .maincontainer
            #form_filter
                form.form-inline
                    label.control-label#labelbuscar BUSCAR
                    input.form-control.input-sm#searchfield(type="text" name="searchfield")
                    
                        
    
    #secciondetabla
        .maincontainer
            #parent_userstable
                    #table_users.tablesection
                        .tableheader.shadow-border
                            p USUARIOS REGISTRADOS
                        .tabletitles.shadow-border
                            table.table.table-hover.table-condensed
                                thead
                                    tr
                                        td NUM. EMPLEADO
                                        td NOMBRE
                                        td USERNAME
                                        td CAMPANA
                                        td ROL
                                        td FECHA DE INGRESO
                                        td ESTATUS
                                tbody#tbody_users
