.statusbar#statusbardashboard
    .maincontainer  
        .sectionname
            p DASHBOARD DE PRODUCTIVIDAD  
                a(href="/dashboard" target="_blank") (v2)

.content_section#containersectiondashboard
    #secciondetabladashboard
        .maincontainer
            .panel.panel-default#mainpaneldashboard
                .panel-body#mainflexcontainer
                    #container_tabsdata
                        .tabdata
                            p ACTIVACIONES TOTALES DEL MES
                            p.countnumber#activacionesMes 0
                        .tabdata 
                            p CAPTURAS TOTALES DEL MES
                            p.countnumber#capturasMes 0
                        .tabdata
                            p RECHAZOS TOTALES DEL MES
                            p.countnumber#rechazosMes 0
                        .tabdata#summary_day
                            p#titledailydatacount ESTADISTICAS DE HOY
                            div.rowDailyCount
                                span.dailydatacount#boxnoroeste
                                    p.titleboxes CAPTURAS
                                    p.countboxes#capturasDia 0
                                span.dailydatacount#boxnoreste
                                    p.titleboxes ACTIVACIONES
                                    p.countboxes#activacionesDia 0
                                span.dailydatacount#boxsuroeste
                                    p.titleboxes ACEPTADAS
                                    p.countboxes#aceptadasDia 0
                                span.dailydatacount#boxsureste
                                    p.titleboxes RECHAZOS
                                    p.countboxes#rechazosDia 0
                    
                    
                    #maindashboard
                        select.form-control#select_graph 
                            option(value='capturas') Capturas
                            option(value='activaciones') Activaciones
                        #container_graph_c
                        #container_graph_a(style="display: none;")
        .panel#dashboardanalistas
            table.table.livedata_table
                tbody
                    tr
                        td#this_td DATOS EN DASHBOARD DE ANALISTAS:
                        td  
                            div.livedata_number#live_pendientes 0
                            div PENDIENTES
                        td  
                            div.livedata_number#live_enespera 0
                            div EN ESPERA DE RESPUESTA
                        td  
                            div.livedata_number#live_aceptadas 0
                            div ACEPTADAS
                        
                        td 
                            div.livedata_number#live_correcciones 0
                            div CORRECCIONES 
                        
                        td 
                            div.livedata_number#live_activaciones 0
                            div ACTIVADAS 

        #container_rowproductividad                   
            #left_table
                .tablesection
                    .tableheader.shadow-border.title_withfilter
                        p PRODUCTIVIDAD POR ASESOR
                        //span 
                            select
                                option(value="dia") DIA
                                option(value="mes") MES
                    .tabletitles.shadow-border.tabletitles_datatables
                        table.table.table-hover.table-condensed#tabla_productividadasesor
                            thead.shadow-border
                                tr
                                    td VENDEDOR
                                    td CAPTURAS
                                    td ACTIVADAS
                                    td NO FINALIZADAS
                            tbody#tbody_productividadtabla
            //#right_table               
                .tablesection#grafica_productividad
                    .tableheader.shadow-border
                        p ACEPTADAS POR AGENDAR
                    .tabletitles.shadow-border
                        table.table.table-hover.table-condensed
                            thead.shadow-border
                                tr
                                    td VENDEDOR
                                    td CAPTURAS
                                    