doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet' href='../bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='../styles/supervisor.css')
        link(rel="stylesheet", href="../styles/datetimepicker.css")
        link(rel='icon' href='../assets/favicon.ico')
        link(rel='stylesheet' href='../datatables/datatables.min.css')
        
        title= "TMK | " + name
    body
        header
            .maincontainer
                    #brand
                        #logo
                            img(src="../assets/logo_exp.png", alt="Logotipo Explora Comunicaciones")
                            #brandname
                                p EXPLORA
                                p COMUNICACIONES
                    #menu
                        ul#menuitems
                            li#dashboard DASHBOARD
                            li#usuarios USUARIOS
                            li#capturas OTROS
                            
                    #userlogout
                        a(href="/logout") 
                            p= name + " | Coordinador"
                            img(src="../assets/logoff.svg", alt="")
        
        include supervisor_gestionasesores.pug               
        include supervisor_detalleusuario.pug
        include supervisor_dashboard.pug
        include supervisor_configuraciones.pug
        
            
        #overlay_supervisor                      
            

        script(src='../jquery/dist/jquery.min.js')
        script(src='../javascripts/socket.io.js')
        script(src='../javascripts/moment.js')
        script(src='../javascripts/supervisor_validacion.js')
        script(src='../javascripts/supervisor.js')
        script(src='../javascripts/supervisor_helpers.js')
        script(src='../javascripts/supervisor_tablas.js')
        script(src='../javascripts/supervisor_ajax.js')
        script(src='../javascripts/supervisor_graficas.js')
        script(src='../bootstrap/dist/js/bootstrap.min.js')
        script(src='../javascripts/datetimepicker.js')
        script(src='../javascripts/md5.js')
        script(src="../javascripts/highcharts/highcharts.js")
        script(src="../javascripts/highcharts/modules/exporting.js")
        script(src="../javascripts/highcharts/modules/export-data.js")
        script(src='../datatables/datatables.min.js') 