.statusbar#statusbaredituser(style='display:none')
    .maincontainer  
        .sectionname
            p CONFIGURACIONES DE USUARIO  
        

.content_section#contentsectionedituser(style='display:none')
    #formulariodebusqueda
        .maincontainer
            .returnme#returnme
                span 
                    img(src="../assets/returnrow.png", alt="flecha")
                span.linktext  Regresar
                
                        
    
    #secciondetabla
        .maincontainer
            #parent_userstable
                    #table_users.tablesection
                        .tableheader.shadow-border
                            p CONFIGURACIONES DE USUARIO
                        #containerform    
                            #formfield_left(data-userid="none")
                                .form-group
                                    label.control-label Nombres
                                    input#edit_nombres.manualstyle_input.resetflag.mandatory(type="text", name="edit_nombres", placeholder="Jorge Alberto")
                                .form-group
                                    label.control-label Apellidos
                                    input#edit_apellidos.manualstyle_input.resetflag.mandatory(type="text", name="edit_apellidos", placeholder="Pool Gonzalez")
                                .form-group
                                    label.control-label Username
                                    input#edit_username.manualstyle_input.resetflag.mandatory(type="text", name="edit_username", placeholder="jorge.pool")
                                .form-group
                                    label.control-label Password
                                    input#edit_password.manualstyle_input.resetflag(type="password", name="edit_password" data-password="password")
                                    button#showpassword 
                                        img(src="../assets/eye.png", alt="mostrar password")
                                //.form-group
                                    label.control-label Núm. Empleado
                                    input#edit_numempleado.manualstyle_input(type="text", name="edit_numempleado" disabled)
                            #formfield_right    
                                .form-group
                                    label.control-label Rol
                                    select.manualstyle_input.resetflag#edit_rol.mandatory
                                        option(value="" disabled selected) Elegir rol
                                        option(value="2") Asesor
                                        option(value="4") Analista
                                        option(value="5") Cerrador
                                        option(value="3") Supervisor
                                        option(value="6") Dashboard
                                        option(value="7") Capacitación
                                        option(value="8") Analista Domicilio
                                        option(value="9") Telmex
                                .form-group
                                    label.control-label Campaña
                                    select#edit_campania.manualstyle_input.resetflag.mandatory
                                        option(value="" disabled selected) Elegir campaña
                                        option(value="1") Excelentes
                                        option(value="2") Estrena
                                        option(value="3") Telmex
                                .form-group
                                    label.control-label Turno
                                    select#edit_turno.manualstyle_input.resetflag.mandatory
                                        option(value="" disabled selected) Elegir turno
                                        option(value="matutino") Matutino
                                        option(value="vespertino") Vespertino
                                .form-group
                                    label.control-label Estatus usuario
                                    select#edit_estatus.manualstyle_input.resetflag.mandatory
                                        option(value="" disabled selected) Elegir estatus
                                        option(value="1") Activo
                                        option(value="0") No activo
                                
                            #formfield_savezone
                                button.btn.btn-default.btn_submitsup#btn_guardarusuario(disabled) Guardar