/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: HelveticaNeueST;
  src: url(../assets/HelveticaNeueStandard.otf); }
@font-face {
  font-family: HelveticaNeueBD;
  src: url(../assets/HelveticaNeueBold.otf); }
header, footer {
  box-shadow: 0px 1px 6px -2px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  width: 100%; }

a {
  color: white; }

body {
  background-color: #2A2D34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica;
  height: 150%; }

html {
  height: 100%; }

header {
  height: 40px;
  font-size: 70%;
  z-index: 4; }

footer {
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #383C45;
  color: white;
  font-size: 70%; }

.maincontainer {
  min-width: 1200px;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%; }

#brand {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: right;
  width: auto; }

#brand > p {
  margin-top: 15px; }

#brandname {
  color: white;
  font-size: 90%;
  margin-left: 10px;
  text-align: left; }

#logo {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center; }

#logo > img {
  height: 30px;
  width: 40px; }

#userlogout img {
  height: 14px;
  width: 30px; }
#userlogout p {
  font-size: 100%; }
#userlogout a {
  display: flex;
  flex-direction: row;
  align-items: center; }
  #userlogout a:hover {
    color: #CB7171;
    text-decoration: none; }

.sides {
  height: 100%;
  width: 49.5%;
  color: white;
  font-size: 85%;
  padding: 10px; }

#bigbody {
  display: flex;
  justify-content: space-between; }

#bigboxred {
  color: #F08787; }

#bigboxgreen {
  color: #AFFFB2; }

.sectiontitle {
  border: 1px solid #707070;
  background-color: #191A1E;
  height: 30px;
  display: flex;
  padding-left: 20px;
  align-items: center;
  margin-top: 15px; }

.containercounters {
  width: 100%;
  margin-top: 15px;
  height: 130px;
  display: flex;
  justify-content: space-between; }

.bigbox {
  height: 100%;
  width: 30%;
  background-color: #383C45;
  display: flex;
  flex-direction: column; }

.boxtitle {
  width: 100%;
  background-color: #32363F;
  height: 30px !important;
  display: flex;
  align-items: center;
  padding-left: 15px;
  justify-content: space-between; }

.bigboxbody {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 400%;
  height: 100%; }

.longrect {
  background-color: #383C45;
  height: 125px;
  margin-top: 15px;
  display: flex;
  flex-direction: column; }

.longrectbody {
  font-family: HelveticaNeueST;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px; }

.longrectitem {
  text-align: center; }

.lr_number {
  font-size: 200%; }

.containermedbox_leftbottom {
  width: 100%;
  margin-top: 15px;
  height: 125px;
  display: flex;
  justify-content: flex-start; }

.mediumbox {
  height: 100%;
  width: 30%;
  background-color: #383C45;
  display: flex;
  flex-direction: column;
  margin-right: 20px; }

.mediumboxbody {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  height: 100%; }

.graphsection {
  background-color: #383C45;
  margin-top: 15px;
  height: 410px;
  display: flex;
  flex-direction: column; }

.containermonthgraph {
  height: 100%;
  display: flex;
  flex-direction: column; }

.childcontainermonthgraph {
  height: 50%;
  padding: 10px; }

.chartsectioncontainer {
  margin-top: 15px;
  height: auto;
  display: flex;
  justify-content: space-between; }

.chartsection {
  height: auto;
  display: flex;
  flex-direction: column;
  width: 49%; }

.chartbody {
  height: auto;
  background-color: #383C45; }

#highchart_main {
  height: 100%; }

#titlesblue {
  color: #5DA4E2;
  font-family: HelveticaNeueST; }

#titlesred {
  color: #F08787;
  font-family: HelveticaNeueST; }

#tbody_topactivadores, #tbody_topbajaparticipacion {
  font-size: 75%; }

.bodytableconnections {
  background-color: #383C45;
  min-height: 100px;
  margin-bottom: 100px; }

.containertableconnections {
  margin-top: 15px; }

.tableconnections {
  width: 100%;
  color: white;
  align-self: flex-start;
  font-size: 85%; }

#bigbodyconnections {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px; }

#contadorconexionestabla {
  color: #5DA4E2; }

#tbody_tableconnections {
  text-align: center;
  font-size: 80%; }
  #tbody_tableconnections tr td:first-child {
    text-align: left; }

#table_connections {
  text-align: center; }
  #table_connections tr td:first-child {
    text-align: left; }

#updateConnectionsNow {
  height: 22px;
  width: 22px;
  margin-right: 10px;
  animation: spin 5s linear infinite;
  animation-play-state: paused; }
  #updateConnectionsNow:hover {
    cursor: pointer;
    animation-play-state: running; }

@keyframes spin {
  100% {
    transform: rotate(-1turn); } }
table.table-bordered2 tr > td {
  border: 1px solid #2A2D34; }

table.table-bordered2 > thead {
  color: #5DA4E2; }

#contadorconexioneslinkdashboard {
  color: #AFFFB2; }

#linkfooterdashboard:hover, #linkfooterconexiones:hover, #linkfootercorrecciones:hover, #linkfooterreferidos:hover {
  color: #5DA4E2;
  cursor: pointer; }

.rows_correcciones {
  cursor: pointer; }

#contadorcorreccionestabla, #contadorcorreccioneslinkdashboard, #contadorreferidoslinktabla {
  color: orange; }

#table_corrections, #table_referidos {
  font-size: 80%; }
  #table_corrections thead, #table_referidos thead {
    color: orange; }

p.headertitle {
  color: orange;
  font-family: Helvetica;
  font-size: 100%;
  margin-bottom: 10px; }
  p.headertitle ~ p {
    font-size: 100%;
    color: grey; }
    p.headertitle ~ p span {
      font-size: 100%;
      color: white; }

#detailscontent {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas: "datosplan datospersonales domicilio" "datoslaborales referencias referencias";
  grid-row-gap: 20px;
  width: 75%; }

.confr1c1 {
  grid-area: datosplan; }

.confr1c2 {
  grid-area: datospersonales; }

.confr1c3 {
  grid-area: domicilio; }

.confr2c1 {
  grid-area: datoslaborales; }

.confr2c2 {
  grid-area: referencias; }

#closePanelDetails {
  margin-top: -7px !important;
  margin-right: 10px; }

#detailscontent {
  color: white;
  margin-top: 50px;
  width: 100% !important;
  display: grid;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px; }

#details_obs {
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }
  #details_obs p {
    margin-bottom: 10px; }

#panelContainerDetails {
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #383C45;
  height: 600px;
  width: 900px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50000;
  font-size: 70%;
  box-shadow: 0px 1px 6px -2px rgba(0, 0, 0, 0.75);
  transform: translate(-50%, -50%); }

#panelDetailsTitle {
  display: flex;
  flex-direction: row;
  height: 37px;
  box-shadow: 0px 1px 6px -2px rgba(0, 0, 0, 0.75);
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 20px;
  padding-top: 15px;
  color: white; }

.buttons-events {
  height: 18px;
  width: 18px; }

#closePanelDetails {
  cursor: pointer; }

#overlay-back {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 49000;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(5px) !important; }

#descargarreportewa:hover, #btn_download_referidos {
  cursor: pointer; }

.hide_remain_options {
  display: none;
  position: absolute; }
  .hide_remain_options li {
    background-color: #6A7F95;
    border: 2px solid #20334B;
    padding: 3px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .hide_remain_options li:hover {
      cursor: pointer;
      background-color: #20334B; }

/*# sourceMappingURL=dashboard.css.map */
