/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: HelveticaNeueST;
  src: url(../assets/HelveticaNeueStandard.otf); }
@font-face {
  font-family: HelveticaNeueBD;
  src: url(../assets/HelveticaNeueBold.otf); }
body {
  align-items: center;
  background-color: #262626;
  background-image: url("../assets/bodybg.png");
  color: white;
  display: flex;
  font-family: Helvetica;
  height: 100vh;
  justify-content: center; }

input[type=text], input[type=password] {
  border-radius: 3px;
  border: none;
  font-size: 90%;
  height: 27px;
  padding-top: 7px;
  padding-bottom: 3px; }

input[type=text]:focus, input[type=password]:focus {
  border: 1px solid #008B8B; }

label {
  font-size: 95%; }

#brand {
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 50px;
  text-align: right;
  width: 280px; }

#brand > p {
  font-size: 120%;
  margin-top: 10px; }

#brandname {
  font-size: 88%;
  margin-left: 10px;
  text-align: left; }

#containerLogin {
  display: flex;
  flex-direction: row;
  height: 250px;
  align-items: center; }

#form {
  margin-left: 50px;
  width: 210px; }

#logo {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 20%; }

#logo > img {
  height: 64px;
  width: 87px; }

#loginerr {
  color: #CB7171;
  font-size: 80%;
  margin-top: 10px;
  visibility: hidden; }

#particles-js {
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -2; }

#submit {
  background-color: #008B8B;
  border: none;
  color: white;
  font-size: 85%; }

#submit:hover {
  background-color: #008080; }

.visible-item {
  visibility: visible !important; }

.red-border {
  border: 2px solid #CB7171 !important; }

/*# sourceMappingURL=index.css.map */
