/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: HelveticaNeueST;
  src: url(../assets/HelveticaNeueStandard.otf); }
@font-face {
  font-family: HelveticaNeueBD;
  src: url(../assets/HelveticaNeueBold.otf); }
header, .statusbar {
  box-shadow: 0px 1px 6px -2px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  width: 100%; }

a {
  color: grey; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica; }

.maincontainer {
  min-width: 1200px;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

header {
  height: 60px;
  font-size: 70%;
  z-index: 4; }

#brand {
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: right;
  width: auto; }

#brand > p {
  margin-top: 10px; }

#brandname {
  color: gray;
  font-size: 90%;
  margin-left: 10px;
  text-align: left; }

#logo {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center; }

#logo > img {
  height: 30px;
  width: 40px; }

#menu {
  height: 100%;
  width: 150px; }

#menuitems {
  display: flex;
  flex-direction: row;
  font-size: 90%;
  height: inherit;
  align-items: center;
  justify-content: space-around; }

#dashboard, #dashboard:hover, #usuarios, #usuarios:hover, #capturas, #capturas:hover {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 10px;
  cursor: pointer; }

#dashboard {
  border-bottom: 2px solid white; }

#dashboard:hover {
  border-bottom: 2px solid #1B99ED; }

#usuarios {
  border-bottom: 2px solid white; }

#usuarios:hover {
  border-bottom: 2px solid #1B99ED; }

#capturas {
  border-bottom: 2px solid white; }

#capturas:hover {
  border-bottom: 2px solid #1B99ED; }

#userlogout img {
  height: 14px;
  width: 30px; }
#userlogout p {
  font-size: 100%; }
#userlogout a {
  display: flex;
  flex-direction: row;
  align-items: center; }
  #userlogout a:hover {
    color: #CB7171;
    text-decoration: none; }

.statusbar {
  height: 35px;
  z-index: 3; }

.sectionname {
  color: grey;
  font-size: 80%; }

.btn-capturas {
  color: gray;
  font-size: 70%;
  padding-top: 7px;
  width: 150px;
  margin-top: 2px; }

.content_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .content_section #formulariodebusqueda {
    margin-top: 15px;
    display: flex; }
  .content_section #secciondetabla {
    margin-top: -15px; }

#form_filter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 2; }

#labelbuscar {
  margin-right: 10px; }

#parent_userstable {
  display: flex;
  flex-direction: column;
  width: 100%; }

#row1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%; }

table {
  background-color: white;
  outline: 1px solid #95989A; }
  table td {
    cursor: pointer; }

.tablesection {
  background-color: white;
  border: 1px solid #95989A;
  border-radius: 3px;
  margin-top: 30px;
  position: relative; }

.tableheader {
  display: flex;
  align-items: center;
  font-size: 70%;
  height: 35px;
  padding-left: 10px; }

.tabletitles {
  height: 28px; }
  .tabletitles td {
    font-size: 80%; }

.shadow-border {
  box-shadow: 0px 1px 6px -2px rgba(0, 0, 0, 0.75); }

#formfield_left, #formfield_right {
  padding-left: 80px;
  padding-top: 80px;
  display: flex;
  flex-direction: column; }

#containerform {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "left right" "savezone savezone";
  grid-column-gap: 50px; }

#formfield_left {
  height: 300px;
  grid-area: left; }

#formfield_right {
  grid-area: right; }

#formfield_savezone {
  grid-area: savezone;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
  margin-right: 130px; }

.btn_submitsup {
  width: 100px; }

#edit_nombres {
  margin-left: 100px; }

#edit_apellidos {
  margin-left: 101px; }

#edit_username {
  margin-left: 91px; }

#edit_password {
  margin-left: 93px; }

#edit_numempleado {
  margin-left: 50px; }

#edit_rol {
  margin-left: 140px;
  width: 185px; }

#edit_turno {
  margin-left: 123px;
  width: 185px; }

#edit_estatus {
  margin-left: 55px;
  width: 185px; }

#edit_campania {
  margin-left: 95px;
  width: 185px; }

.linktext {
  font-size: 80%; }

.returnme {
  cursor: pointer;
  z-index: 2; }
  .returnme:hover {
    color: #CB7171; }

.manualstyle_input {
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  padding-left: 5px;
  font-size: 80%; }

#container_tabsdata {
  heigth: auto; }

#mainpaneldashboard {
  margin-top: 25px;
  width: 100%;
  height: 500px; }

#mainflexcontainer {
  display: flex;
  flex-direction: row;
  padding: 0px; }

#summary_day {
  height: 315px; }

#titledailydatacount {
  font-size: 120%;
  color: #95989A;
  margin-top: 30px; }

#boxnoroeste {
  border-right: 1px solid #CDCFD0;
  border-bottom: 1px solid #CDCFD0; }

#boxnoreste {
  border-left: 1px solid #CDCFD0;
  border-bottom: 1px solid #CDCFD0; }

#boxsuroeste {
  border-right: 1px solid #CDCFD0;
  border-top: 1px solid #CDCFD0; }

#boxsureste {
  border-left: 1px solid #CDCFD0;
  border-top: 1px solid #CDCFD0; }

.countnumber {
  font-size: 200%;
  color: #7CB5EC;
  margin-top: 5px; }

.tabdata {
  border-bottom: 1px solid #CDCFD0;
  border-right: 1px solid #CDCFD0;
  font-size: 80%;
  height: 60px;
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px; }
  .tabdata:last-child {
    border-bottom: 1px solid white; }

.rowDailyCount {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  margin-top: 25px;
  height: 200px; }

.dailydatacount {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.countboxes {
  color: #7CB5EC;
  font-size: 150%;
  margin-top: 10px; }

.countboxesp {
  font-family: HelveticaNeueBD;
  margin-top: 10px; }

#maindashboard {
  width: 100%; }

#select_graph {
  margin-top: 20px;
  margin-left: 20px;
  width: 150px; }

#dashboardanalistas {
  margin-top: 5px;
  margin-bottom: 0px; }

.livedata_table {
  font-size: 70%;
  text-align: center; }

.livedata_number {
  font-size: 200%; }

#this_td {
  vertical-align: center !important;
  text-align: left; }

#container_rowproductividad {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 50px; }

#left_table {
  width: 60%; }

#tabla_productividadasesor_wrapper {
  padding-top: 5px; }

#tabla_productividadasesor {
  width: 100% !important; }

.tabletitles_datatables {
  height: 60px; }

.title_withfilter {
  display: flex;
  padding-right: 10px;
  justify-content: space-between; }

#contentsectionconfig {
  margin-top: 25px; }
  #contentsectionconfig .maincontainer {
    border-top: 1px solid #B2B2B2; }

.buttons-events {
  height: 15px;
  width: 15px; }

.contentpanel {
  min-height: 800px;
  width: 100%;
  display: flex; }

.contentleftpanel, .contentrightpanel {
  overflow-x: scroll;
  display: flex;
  flex-direction: column; }

.contentleftpanel {
  width: 20%;
  padding-top: 35px; }

.contentrightpanel {
  width: 80%;
  border-left: 1px solid #B2B2B2; }

.dropdown-menu.pull-left {
  left: -144px !important; }

.icon_limenu {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  margin-left: 20px; }

.limenu {
  border-bottom: 1px solid #B2B2B2;
  font-size: 80%;
  height: 40px;
  display: flex;
  align-items: center; }
  .limenu:hover {
    cursor: pointer;
    border-left: 8px solid #7CB5EC; }

.ulmenu {
  border: 1px solid #B2B2B2; }

.titlecontent {
  height: 31px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-top: 5px;
  border-bottom: 1px solid #B2B2B2; }

.itemscontent {
  display: flex;
  flex-direction: column;
  padding: 20px; }

.minicontainerform {
  font-size: 80%;
  display: flex;
  flex-direction: column;
  width: 150px; }

#busquedacapturas, #busquedaplanes {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  #busquedacapturas label, #busquedaplanes label {
    margin-right: 10px; }

#formulariofiltro, #formulariofiltroplanes, #formulariofiltroreporte {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: flex-end; }
  #formulariofiltro .leftminicontainer, #formulariofiltroplanes .leftminicontainer, #formulariofiltroreporte .leftminicontainer {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: flex-end; }

#tabladedatos, #tabladeplanes {
  margin-top: 20px;
  font-family: helvetica;
  font-size: 80%; }
  #tabladedatos .tabletitles, #tabladeplanes .tabletitles {
    height: 15px; }

#btn_saveplan, #btn_exportar {
  height: 30px; }

#overlay_supervisor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  background: #000;
  opacity: 0.2;
  filter: alpha(opacity=20);
  z-index: 9999;
  display: none; }

#modalreasignar {
  position: absolute;
  top: 200px;
  left: 40%;
  color: black;
  box-shadow: 0px 1px 6px -2px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  background-color: white;
  width: 500px;
  height: 450px;
  display: flex;
  flex-direction: column;
  z-index: 50000 !important; }

.actionmodal {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  padding-top: 40px;
  color: black; }
  .actionmodal label {
    margin-top: 10px; }

.btnmodal {
  margin-right: 10px;
  margin-top: 10px; }

.headermodalreasignar {
  width: 100%;
  height: 100px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white; }

.headermodalreasignar {
  background-color: #5B6390; }

.titlemodal {
  font-size: 110%;
  font-family: HelveticaNeueBD; }

.inputagendamodal {
  margin-top: 5px; }

.bodymodal {
  padding: 20px; }

.userdatamodal {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: black; }

.tablecontentreportes {
  font-size: 70%; }

/*# sourceMappingURL=supervisor.css.map */
