.container_activacion.hiddablefield(style='display: none')
    
    p.seccion_titulo CAPTURAS INFINITUM
    .forms
        .form-container.form-container-telmex
            .form-title
                p DATOS DEL CLIENTE
            .form-body
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_tipodecaptura")  Tipo de captura*
                        select.form-control.input-sm.mandatory_activacion.dynamicselect3#selectactivacion_tipodecaptura(name="activacion_tipodecaptura")
                            option 
                            option(value='Residencial') Residencial
                            option(value='Comercial') Comercial 
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")

                form.form-inline.camposderesidencial(style='display:none')
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_nombres") Nombres*
                        input.form-control.input-sm#activacion_nombres.mandatory_activacion_camposderesidencial(type="text", name="activacion_nombres" placeholder="Pedro Jose")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline.camposderesidencial(style='display:none')
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_paterno") Apellido paterno*
                        input.form-control.input-sm#activacion_paterno.mandatory_activacion_camposderesidencial(type="text", name="activacion_paterno" placeholder="Orilla")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline.camposderesidencial(style='display:none')
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_materno") Apellido materno*
                        input.form-control.input-sm#activacion_materno.mandatory_activacion_camposderesidencial(type="text", name="activacion_materno" placeholder="Cervera")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                

                //- COMERCIALES
                form.form-inline.camposdecomercial(style='display:none')
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_nombrecomercial") Nombre comercial*
                        input.form-control.input-sm#activacion_nombrecomercial.mandatory_activacion_camposdecomercial(type="text", name="activacion_nombrecomercial" placeholder="Telcel")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline.camposdecomercial(style='display:none')
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_nombredefacturacion") Nombre de facturación*
                        input.form-control.input-sm#activacion_nombredefacturacion.mandatory_activacion_camposdecomercial(type="text", name="activacion_nombredefacturacion" placeholder="Radiomovil Dipsa Sa de Cv")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                

                //- CAMPOS ESTANDAR
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_rfc") RFC
                        input.form-control.input-sm#activacion_rfc(type="text", name="activacion_rfc" placeholder="AUSE901225")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_tipodeidentificacion")  Tipo de identificación*
                        select.form-control.input-sm.mandatory_activacion.dynamicselect3#selectactivacion_tipodeidentificacion(name="activacion_tipodeidentificacion")
                            option 
                            option(value='INE') INE 
                            option(value='Pasaporte') Pasaporte 
                            option(value='Forma 3') Forma 3 
                            option(value='Otro') Otro 
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")

                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_numerodeidentificacion") Número de identificación*
                        input.form-control.input-sm#activacion_numerodeidentificacion.mandatory_activacion(type="text", name="activacion_numerodeidentificacion" placeholder="AESU901225HYNGND09")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_celular") Número celular*
                        input.form-control.input-sm#activacion_celular.mandatory_activacion(type="text", name="activacion_celular" placeholder="9999000000")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_telefonoadicional") Teléfono adicional
                        input.form-control.input-sm#activacion_telefonoadicional(type="text", name="activacion_telefonoadicional" placeholder="9999000000")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_correoelectronico") Correo electrónico*
                        input.form-control.input-sm#activacion_correoelectronico.mandatory_activacion(type="text", name="activacion_correoelectronico" placeholder="cuenta@dominio.com")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")


                
            br
            br
            br
            br

        .form-container.form-container-telmex
            .form-title
                p DOMICILIO
            .form-body
                
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_estado") Estado*
                        input.form-control.input-sm#activacion_estado.mandatory_activacion(type="text", name="activacion_estado" placeholder="Yucatán")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_municipio") Municipio/Delegación*
                        input.form-control.input-sm.mandatory_activacion#activacion_municipio(type="text", name="activacion_municipio" placeholder="Mérida")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_colonia") Colonia*
                        input.form-control.input-sm#activacion_colonia.mandatory_activacion(type="text", name="activacion_colonia" placeholder="Centro")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_cp") Código postal*
                        input.form-control.input-sm#activacion_cp.mandatory_activacion(type="text", name="activacion_cp" placeholder="97000")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_calle") Calle*
                        input.form-control.input-sm#activacion_calle.mandatory_activacion(type="text", name="activacion_calle" placeholder="27")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_numeroexterior") Número exterior*
                        input.form-control.input-sm#activacion_numeroexterior.mandatory_activacion(type="text", name="activacion_numeroexterior" placeholder="487")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_numerointerior") Numero interior
                        input.form-control.input-sm#activacion_numerointerior(type="text", name="activacion_numerointerior" placeholder="12")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_manzana") Manzana
                        input.form-control.input-sm#activacion_manzana(type="text", name="activacion_manzana" placeholder="6")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_lote") Lote
                        input.form-control.input-sm#activacion_lote(type="text", name="activacion_lote" placeholder="4")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_edificio") Edificio
                        input.form-control.input-sm#activacion_edificio(type="text", name="activacion_edificio" placeholder="42")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_departamento") Departamento
                        input.form-control.input-sm#activacion_departamento(type="text", name="activacion_departamento" placeholder="85")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_calificador") Calificador
                        input.form-control.input-sm#activacion_calificador(type="text", name="activacion_calificador" placeholder="Mod")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_subnumero") Subnúmero
                        input.form-control.input-sm#activacion_subnumero(type="text", name="activacion_subnumero" placeholder="45")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_entrecalleuno") Entre calle 1*
                        input.form-control.input-sm#activacion_entrecalleuno.mandatory_activacion(type="text", name="activacion_entrecalleuno" placeholder="54")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_entrecalledos") Entre calle 2*
                        input.form-control.input-sm#activacion_entrecalledos.mandatory_activacion(type="text", name="activacion_entrecalledos" placeholder="56")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                
            br
            br
            br
            br
        .form-container.form-container-telmex
            .form-title
                p SELECCION DE SERVICIO VENDIDO
            .form-body
                
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_tiposervicio_")  Tipo de servicio*
                        select.form-control.input-sm.mandatory_activacion.dynamicselect3#selectactivacion_tiposervicio_(name="activacion_tiposervicio_")
                            option 
                            option(value='Paquete infinitum') Paquete infinitum
                            option(value='Con entretenimiento') Con entretenimiento
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")

                form.form-inline.paqueteinfinitum(style='display:none')
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_paqueteinfinitum")  Paquete infinitum*
                        select.form-control.input-sm.mandatory_activacion_paqueteinfinitum.dynamicselect3#selectactivacion_paqueteinfinitum(name="activacion_paqueteinfinitum")
                            option 
                            option(value='Paquete 389') Paquete 389
                            option(value='Paquete 435') Paquete 435
                            option(value='Paquete 499') Paquete 499
                            option(value='Paquete 599') Paquete 599
                            option(value='Paquete 999') Paquete 999
                            option(value='Paquete 279') Paquete 279
                            option(value='Infinitum Puro 20') Infinitum Puro 20
                            option(value='Infinitum Puro 30') Infinitum Puro 30
                            option(value='Infinitum Puro 150') Infinitum Puro 150
                            option(value='Infinitum Puro 200') Infinitum Puro 200

                            
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")

                form.form-inline.conentretenimiento(style='display:none')
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_conentretenimiento")  Con entretenimiento*
                        select.form-control.input-sm.mandatory_activacion_conentretenimiento.dynamicselect3#selectactivacion_conentretenimiento(name="activacion_conentretenimiento")
                            option 
                            option(value='Paquete Infinitum Play 20') Paquete Infinitum Play 20
                            option(value='Paquete Infinitum D 1') Paquete Infinitum D 1
                            option(value='Paquete Infinitum Play 30') Paquete Infinitum Play 30
                            option(value='Paquete Infinitum D 2') Paquete Infinitum D 2
                            option(value='Paquete Infinitum Play 40') Paquete Infinitum Play 40
                            option(value='Paquete Infinitum D 3') Paquete Infinitum D 3
                            option(value='Paquete Infinitum Play 150 2HD') Paquete Infinitum Play 150 2HD
                            option(value='Paquete Infinitum Play 150 4UHD') Paquete Infinitum Play 150 4UHD
                            option(value='Paquete Infinitum D 4') Paquete Infinitum D 4
                            option(value='Paquete Infinitum Play 200 2HD') Paquete Infinitum Play 200 2HD
                            option(value='Paquete Infinitum Play 200 4UHD') Paquete Infinitum Play 200 4UHD
                            option(value='Paquete Infinitum D 5') Paquete Infinitum D 5
                            option(value='Paquete 1499') Paquete 1499
                            option(value='Infinitum Play 20') Infinitum Play 20
                            option(value='Infinitum Play 30') Infinitum Play 30
                            option(value='Infinitum Puro D 1') Infinitum Puro D 1
                            option(value='Infinitum Puro D 2') Infinitum Puro D 2
                            option(value='Infinitum Play 150 2HD') Infinitum Play 150 2HD
                            option(value='Infinitum Play 150 4UHD') Infinitum Play 150 4UHD
                            option(value='Infinitum Play 200 2HD') Infinitum Play 200 2HD
                            option(value='Infinitum Play 200 4UHD') Infinitum Play 200 4UHD
                            option(value='Infinitum Puro D 3') Infinitum Puro D 3
                            option(value='Infinitum Puro D 4') Infinitum Puro D 4

                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
               
            br
            br
            br
            br
        
        .form-container.form-container-telmex
            .form-title
                p CIERRE DE SOLICITUD
            .form-body
                
                
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_cierre")  Resultado de captura*
                        select.form-control.input-sm.mandatory_activacion.dynamicselect3#selectactivacion_cierre(name="activacion_cierre")
                            option 
                            option(value='Captura exitosa') Captura exitosa
                            option(value='Sin cobertura') Sin cobertura
                            
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")

                form.form-inline.camposiac(style='display:none')
                    .form-group
                        label.col-md-4.col-xs-4(for="activacion_siac") SIAC*
                        input.form-control.input-sm#activacion_siac.mandatory_activacion_camposiac(type="text", name="activacion_siac" placeholder="2323")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")

                
                br
                br
                br
                br
                br
        
            
    button.btn.btn-default.btn-domicilio.btn-telmex-guardar#guardar_activacion Guardar