doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet' href='../bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='../styles/asesor.css')
        link(rel='stylesheet' href='../styles/asesor_telmex.css')
        // link(rel="stylesheet", href="../styles/animate.css")
        link(rel="stylesheet", href="../styles/select2.css")
        link(rel="stylesheet", href="../styles/datetimepicker.css")
        link(rel='icon' href='../assets/favicon.ico')
        
        title= "TELMEX | " + name
    body(data-rol=rol)
        header
            .maincontainer
                    #brand
                        #logo
                            img(src="../assets/logo_exp.png", alt="Logotipo Explora Comunicaciones")
                            #brandname
                                p EXPLORA
                                p COMUNICACIONES
                    
                    #userlogout
                        a(href="/logout") 
                            p#asesorname(data-name=name data-user=user)= name + " | " + campaign
                            img(src="../assets/logoff.svg", alt="")
                            
        #statusbar
            .maincontainer  
                    #sectionname
                        p CAPTURAS TELMEX  
                    #buttonsection
                        button.btn.btn-default.btn-domicilio.btn-telmex#nueva_activacion Activación
                        button.btn.btn-default.btn-capturas.btn-telmex#nueva_portabilidad Portabilidad
        
        #chartsbar.telmex_chartsbar
            .maincontainer
                    
                        

        .telmex_tablessection 
            .maincontainer.telmex_maincontainer
                p#leyenda_principal.hiddablefield Selecciona un tipo de captura
                include portabilidad
                include activacion
                


    
    script(src='../../jquery/dist/jquery.min.js')
    script(src='../../javascripts/datetimepicker.js')
    script(src='../../javascripts/select2.js')
    script(src='../../javascripts/telmex/telmex_behavior.js')
    script(src='../../javascripts/telmex/telmex_validacion.js')
    script(src='../../javascripts/telmex/telmex_ajax.js')
    
    
    
    
