.container_portabilidad.hiddablefield(style='display: none')
    
    p.seccion_titulo PORTABILIDAD
    .forms
        .form-container.form-container-telmex
            .form-title
                p DATOS DEL CLIENTE
            .form-body
            
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="nombres") Nombres*
                        input.form-control.input-sm#nombres.mandatory_portabilidad(type="text", name="nombres" placeholder="Pedro Jose")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="paterno") Apellido paterno*
                        input.form-control.input-sm#paterno.mandatory_portabilidad(type="text", name="paterno" placeholder="Orilla")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="materno") Apellido materno*
                        input.form-control.input-sm#materno.mandatory_portabilidad(type="text", name="materno" placeholder="Cervera")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")

                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="entidadfederativa")  Entidad federativa*
                        select.form-control.input-sm.mandatory_portabilidad.dynamicselect3#selectentidadfederativa(name="entidadfederativa")
                            option
                            option(value='Baja California ') Baja California 
                            option(value='Baja California Sur ') Baja California Sur 
                            option(value='Campeche ') Campeche 
                            option(value='Ciudad de México') Ciudad de México
                            option(value='Coahuila') Coahuila
                            option(value='Colima ') Colima 
                            option(value='Chiapas ') Chiapas 
                            option(value='Chihuahua ') Chihuahua 
                            option(value='Durango ') Durango 
                            option(value='Guanajuato ') Guanajuato 
                            option(value='Guerrero ') Guerrero 
                            option(value='Hidalgo ') Hidalgo 
                            option(value='Jalisco ') Jalisco 
                            option(value='México ') México 
                            option(value='Michoacán ') Michoacán 
                            option(value='Morelos ') Morelos 
                            option(value='Nayarit ') Nayarit 
                            option(value='Nuevo León ') Nuevo León 
                            option(value='Oaxaca ') Oaxaca 
                            option(value='Puebla ') Puebla 
                            option(value='Querétaro ') Querétaro 
                            option(value='Quintana Roo ') Quintana Roo 
                            option(value='San Luis Potosí ') San Luis Potosí 
                            option(value='Sinaloa ') Sinaloa 
                            option(value='Sonora ') Sonora 
                            option(value='Tabasco ') Tabasco 
                            option(value='Tamaulipas ') Tamaulipas 
                            option(value='Tlaxcala ') Tlaxcala 
                            option(value='Veracruz ') Veracruz 
                            option(value='Yucatán ') Yucatán 
                            option(value='Zacatecas') Zacatecas

                            
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")

            br
            br
            br
            br

        .form-container.form-container-telmex
            .form-title
                p DATOS DE CONTACTO
            .form-body
                
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="celular") Teléfono celular*
                        input.form-control.input-sm#celular.mandatory_portabilidad(type="text", name="celular" placeholder="9999000000")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="fijo") Teléfono fijo
                        input.form-control.input-sm#fijo(type="text", name="fijo" placeholder="9999000000")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="email") Correo electrónico*
                        input.form-control.input-sm#email.mandatory_portabilidad(type="text", name="email" placeholder="mail@dominio.com")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="horariovisitalaboral")  Horario de contacto de preferencia*
                        input.form-control.input-sm#horariovisitalaboral.mandatory_portabilidad(type="text", name="horariovisitalaboral" placeholder="Despues de las 5pm")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
            br
            br
            br
            br
        .form-container.form-container-telmex
            .form-title
                p DATOS DE LINEA A PORTAR
            .form-body
                
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="numeroaportar") Teléfono a portar*
                        input.form-control.input-sm#numeroaportar.mandatory_portabilidad(type="text", name="numeroaportar" placeholder="9999000000")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="estatuslinea")  Estatus línea*
                        select.form-control.input-sm.mandatory_portabilidad.dynamicselect3#selectestatuslinea(name="estatuslinea")
                            option 
                            option(value='activa') Activa 
                            option(value='inactiva') Inactiva 
                            
                            
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="calle") Calle*
                        input.form-control.input-sm#calle.mandatory_portabilidad(type="text", name="calle" placeholder="27")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="lote") Número / Lote*
                        input.form-control.input-sm#lote.mandatory_portabilidad(type="text", name="lote" placeholder="412")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="cruzamientos") Cruzamientos*
                        input.form-control.input-sm#cruzamientos.mandatory_portabilidad(type="text", name="cruzamientos" placeholder="56 y 58")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="colonia") Colonia*
                        input.form-control.input-sm#colonia.mandatory_portabilidad(type="text", name="colonia" placeholder="Centro")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="codigopostal") Código postal*
                        input.form-control.input-sm#codigopostal.mandatory_portabilidad(type="text", name="codigopostal" placeholder="97000")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="ciudad") Ciudad*
                        input.form-control.input-sm#ciudad.mandatory_portabilidad(type="text", name="ciudad" placeholder="Mérida")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="estado") Estado*
                        input.form-control.input-sm#estado.mandatory_portabilidad(type="text", name="estado" placeholder="Yucatán")
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
               
            br
            br
            br
            br
        
        .form-container.form-container-telmex
            .form-title
                p PORTABILIDAD TELCEL
            .form-body
                
                
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="tipocliente")  Tipo de cliente*
                        select.form-control.input-sm.mandatory_portabilidad.dynamicselect3#selecttipocliente(name="tipocliente")
                            option 
                            option(value='Cliente Portabilidad IZZI') Cliente Portabilidad IZZI
                            option(value='Cliente Portabilidad MEGACABLE') Cliente Portabilidad MEGACABLE
                            option(value='Cliente Portabilidad TOTALPLAY') Cliente Portabilidad TOTALPLAY
                            option(value='Cliente Portabilidad ALESTRA') Cliente Portabilidad ALESTRA
                            option(value='Cliente Portabilidad AXTEL') Cliente Portabilidad AXTEL
                            option(value='Cliente Portabilidad CABLECOM') Cliente Portabilidad CABLECOM
                            option(value='Cliente Portabilidad CABLEMAS') Cliente Portabilidad CABLEMAS
                            option(value='Cliente Portabilidad MAXCOM') Cliente Portabilidad MAXCOM
                            option(value='Cliente Portabilidad MCM TELECOM') Cliente Portabilidad MCM TELECOM
                            option(value='Cliente Portabilidad METRORED') Cliente Portabilidad METRORED
                            option(value='Cliente Portabilidad TELECABLE') Cliente Portabilidad TELECABLE
                            option(value='Cliente Portabilidad WIZZ') Cliente Portabilidad WIZZ
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")

                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="tiposervicio")  Tipo de servicio*
                        select.form-control.input-sm.mandatory_portabilidad.dynamicselect3#selecttiposervicio(name="tiposervicio")
                            option 
                            option(value='Residencia') Residencial
                            option(value='Comercial') Comercial 
                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                br
                br
                br
                br
                br
        
            .form-title
                p PORTABILIDAD RESIDENCIAL
            .form-body
                form.form-inline
                    .form-group
                        label.col-md-4.col-xs-4(for="tiposervicioresidencial")  Tipo de servicio
                        select.form-control.input-sm.dynamicselect3#selecttiposervicioresidencial(name="tiposervicioresidencial")
                            option 
                            option(disabled) INFINITUM Y NETFLIX
                            option(value='$499 - Paquete Infinitum y Netflix 20 - 1 SD') $499 - Paquete Infinitum y Netflix 20 - 1 SD
                            option(value='$539 - Paquete Infinitum y Netflix 20 - 2 HD') $539 - Paquete Infinitum y Netflix 20 - 2 HD
                            option(value='$599 - Paquete Infinitum y Netflix 20 - 4 UHD') $599 - Paquete Infinitum y Netflix 20 - 4 UHD
                            option(value='$579 - Paquete Infinitum y Netflix 30 - 2 HD') $579 - Paquete Infinitum y Netflix 30 - 2 HD
                            option(value='$639 - Paquete Infinitum y Netflix 30 - 4 UHD') $639 - Paquete Infinitum y Netflix 30 - 4 UHD
                            option(value='$639 - Paquete Infinitum y Netflix 40 - 2 HD') $639 - Paquete Infinitum y Netflix 40 - 2 HD
                            option(value='$699 - Paquete Infinitum y Netflix 40 - 4 UHD') $699 - Paquete Infinitum y Netflix 40 - 4 UHD
                            option(value='$739 - Paquete Infinitum y Netflix 150 - 2 HD') $739 - Paquete Infinitum y Netflix 150 - 2 HD
                            option(value='$777 - Paquete Infinitum y Netflix 150 - 4 UHD') $777 - Paquete Infinitum y Netflix 150 - 4 UHD
                            option(value='$1117 - Paquete Infinitum y Netflix 200 - 2 UHD') $1117 - Paquete Infinitum y Netflix 200 - 2 UHD
                            option(value='$1149 - Paquete Infinitum y Netflix 200 - 4 UHD') $1149 - Paquete Infinitum y Netflix 200 - 4 UHD
                            option(disabled) PAQUETE INFINITUM
                            option(value='Paquete $389') Paquete $389
                            option(value='Paquete $435') Paquete $435
                            option(value='Paquete $499') Paquete $499
                            option(value='Paquete $599') Paquete $599
                            option(value='Paquete $999') Paquete $999
                            option(value='Paquete $1499') Paquete $1499
                            option(disabled) PAQUETE DISNEY+
                            option(value='$548 Paquete disney+ 30 ') $548 Paquete disney+ 30 
                            option(value='$594 Paquete disney+ 40') $594 Paquete disney+ 40 
                            option(value='$658 Paquete disney+ 50') $658 Paquete disney+ 50 
                            option(value='$758Paquete disney+ 200') $758 Paquete disney+ 200
                            option(value='$1,158 Paquete disney+ 300') $1,158 Paquete disney+ 300
                            option(value='$508 Infinitum Disney+ 30') $508 Infinitum Disney+ 30
                            option(value='$558 Infinitum Disney+ 40') $558 Infinitum Disney+ 40
                            option(value='$708 Infinitum Disney+ 200') $708 Infinitum Disney+ 200
                            option(value='$1,058 Infinitum Disney+ 300') $1,058 Infinitum Disney+ 300

                        span.successimage(style='display: none') 
                            img(src="../assets/success.png")
                        span.errorimage(style='display: none') 
                            img(src="../assets/error.png")
                br
                br
                br
                br
                br

    button.btn.btn-default.btn-domicilio.btn-telmex-guardar#guardar_portabilidad Guardar