// asesor.sass

@import _reset
@import _fonts

$rederror: #CB7171
$borderbottom: #1B99ED


.myFont
    font-size: 80%


//sombras para los boxes flex
%shadows-flex-containers
    box-shadow: 0px 1px 6px -2px rgba(0,0,0,0.75)
    display: flex
    justify-content: center
    width: 100%
    
a
    color: grey
body
    display: flex
    flex-direction: column
    align-items: center
    font-family: Helvetica



.maincontainer
    min-width: 1200px
    max-width: 1200px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    height: 100%
    
    

//header section

header
    @extend %shadows-flex-containers
    height: 60px
    font-size: 70%
    z-index: 4

#brand
    border-right: 1px solid white
    display: flex
    flex-direction: column
    height: 100%
    text-align: right
    width: auto
    


#brand > p
   
    margin-top: 10px    

#brandname
    color: gray
    font-size: 90%
    margin-left: 10px
    text-align: left

#logo 
    align-items: center
    display: flex
    flex-direction: row
    height: 100%
    align-items: center

    

#logo > img
    height: 30px
    width: 40px 






#userlogout

    img
        height: 14px
        width: 30px
        
    
    p
        font-size: 100%

    a
        display: flex
        flex-direction: row
        align-items: center
        &:hover
            color: $rederror
            text-decoration: none
            
            

//statusbar section

#statusbar
    @extend %shadows-flex-containers
    height: 35px
    background: linear-gradient(to right, #2B7A8D 0%,#134F5D 100%)
    z-index: 3

#sectionname
    color: white
    font-size: 75%


    


//chartsbar section

$background-button: #2B2B2B
$background-button-hover: #3B3B3B
$textdata-color: #95989A
$numberdata-color: #05CFFF

#chartsbar
    @extend %shadows-flex-containers
    background-color: #191919
    height: 62px
    align-items: center

#enesperaderespuesta
    padding-left: 25px 

.buttonwithdata
    border: 1px solid black
    background-color: $background-button
    height: 60px
    min-width: 200px
    max-width: 200px
    display: flex
    align-items: center
    justify-content: center
    
    
    .numberdata
        color: $numberdata-color
        margin-right: 30px
        font-size: 150%
    .textdata
        color: $textdata-color
        font-size: 80%


.buttonwithdata:hover
    background-color: $background-button-hover
    cursor: pointer
    .textdata
        color: white
        



//tables section



thead
    color: grey
    font-size: 100%
    td
        padding-top: 9px !important


td  
    font-size: 80%
    padding-top: 10px !important

#tbody_enespera td:last-child
    text-align: center
    //padding-right: 50px !important
    

#tablemaster
    height: 800px
    

#tablessection 
    //background-color: #F4F4F4
    //background-image: url('../assets/bgbodytable2.png')
    background-repeat: repeat
    display: flex
    justify-content: center
    
    width: 100%

#table-relative, #table-relative2
    position: relative !important

.analista_capturando
    color: #9EA3A1
    font-size: 60%
    font-family: $fontHNBD
    cursor: pointer

.btn-asignto
    padding-top: 7px !important

.asignto
    border: 1px solid black
    border-radius: 3px
    height: 20px
    width: 150px  
    display: flex
    justify-content: center
    align-items: flex-end  
    font-size: 80%
    font-family: $fontHNBD
    visibility: hidden
    
    
    &:hover
        cursor: pointer

.linktabactive
    background-color: $background-button-hover
    .textdata
        color: white


    

.tablesection
    background-color: white
    border: 1px solid #95989A
    border-radius: 3px
    margin-top: 30px
    width: 100%
    min-height: 717px

.tableheader
    display: flex
    align-items: center
    font-size: 70%
    height: 35px
    padding-left: 10px


.shadow-border
    box-shadow: 0px 1px 6px -2px rgba(0,0,0,0.75)




#container_tablas
    display: flex
    justify-content: space-between
    width: 100%
#tab_aceptadas
    width: 100%

#tabla_agenda 
    
    margin-left: 10px

#tabla_concentrado
    width: 850px

#tbody_agendaanalista, #tbody_aceptadas
    cursor: pointer
    
    
//seccion de tabla "EN ESPERA DE RESPUESTA"

#close_modalhelper, #close_modalrechazo, #close_modalobservacion
    cursor: pointer
//helper
#tab_enespera, #tab_aceptadas
    position: relative
    
//helper



#overlay_analista
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 150%
    background: #000
    opacity: 0.2
    filter: alpha(opacity=20)
    z-index: 49999
    display: none

#modalRechazoCorreccion, #modalRechazo, #modalObservacion
    position: absolute
    top: 38px
    color: $textdata-color
    right: -2000px
    box-shadow: 0px 1px 6px -2px rgba(0,0,0,0.75)
    border-radius: 5px 0px 0px 5px
    background-color: white
    width: 400px
    height: 230px
    display: flex
    flex-direction: row
    z-index: 50000

.buttons-events-wrapper
    font-size: 90%
    cursor: pointer
    margin-right: 10px

.buttons-events
    height: 18px 
    width: 18px

.buttons-set-events
    visibility: hidden

.body_modalhelper
    padding-top: 20px
    padding-left: 10px
    padding-right: 10px
    text-align: right

    button
        margin-top: 5px
    
.title_modalhelper
    box-shadow: 0px 1px 6px -2px rgba(0,0,0,0.75)
    display: flex
    justify-content: space-between
    height: 30px
    padding-left: 10px
    padding-right: 10px
    padding-top: 10px


//seccion de tabla "ACEPTADAS"

.content-popover
    margin-top: 10px
    margin-right: 12px
    text-align: right
    button
        margin-top: 10px

.datetimepicker
    cursor: pointer


.text-buttons-events
    color: #797575
    
.trigger-click-agenda
    z-index: 2000
    cursor: pointer
    border-bottom: 1px dotted #D8D8D8

#box_observacion
    text-align: left
    margin-top: 20px

#modalObservacion
    height: auto
// seccion de pendientes

textarea
    resize: none

.panel_btn_guardar 
    margin-top: 10px



#close-sidepanel, #close-sidepanel2
    cursor: pointer

#side-panel, #side-panel2
    background-color: white
    border-radius: 5px 0px 0px 5px
    border: 1px solid grey
    display: flex
    flex-direction: column
    height: 650px
    width: 600px
    position: absolute    
    right: -2000px
    top: 30px
    overflow-y: scroll
    padding: 20px


#sidepanel-title, #sidepanel-title2
    color: #868686
    font-family: $fontHNBD
    
    

#sidepanel-subtitle, #sidepanel-subtitle2
    font-family: $fontHNBD
    font-size: 70%
    margin-top: 25px   

#sidepanel-container-form, #sidepanel-container-form2
    margin-bottom: 150px


.sidepanel-display
    display: flex
    justify-content: space-between

.sidepanel-container-tablas
    margin-top: 50px

.small-row tbody tr
    height: 20px !important
    cursor: pointer
    td
        padding: 0px
        padding-left: 5px
        padding-bottom: 3px

.selectstatuscontainer
    width: 45%
    text-align: right

.titulotabla
    color: #95989A
    font-size: 90%
    margin-bottom: 5px

//SECCION DE TABLA DE CORRECCION
.uncorrected
    color: #C3C5C6
    .analista_capturando
        color: #C3C5C6
