.btn-telmex
    margin-left: 5px
    margin-top: .5px

.telmex_chartsbar
    height: 200px !important

.telmex_tablessection
    margin-top: -130px
    z-index: 2
    height: 100%
    border: 1px solid #ccc
    background-color: #fff
    //background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%)
    border-radius: 10px
    margin-bottom: 100px
.telmex_maincontainer
    display: flex
    flex-direction: column
    padding: 15px
    align-items: flex-start
    box-shadow: 0px 1px 6px -2px rgba(0,0,0,0.75)


//estilos para formularios

.container_portabilidad, .container_activacion
    display: flex
    flex-direction: column
    .forms
        display: flex !important
        flex-direction: row
        flex-wrap: wrap !important

        .form-container-telmex
            width:50%
            input, select
                width: 100% !important
.seccion_titulo
    font-size: 120%
    font-weight: bold

.btn-telmex-guardar
    border: 1px solid #1b436b
    color: #1b436b
    align-self: flex-end
    &:hover
        color: white
        background-color: #1b436b
    